@import "/src/screens.scss";

:host {
  display: inline-block;

  :disabled {
    cursor: not-allowed;
  }
}

.btn {
  &__icon {
    margin-right: var(--spacer-1);
  }

  &__text {
    &--large {
      font-weight: bold;
    }
  }
}
