@import '/src/screens.scss';

.btn{
  width: 100%;
  
  @include media-breakpoint-up(sm){
    width: fit-content;
  }
  
  &__icon{
    margin-right: var(--spacer-1);
  }
  
  &-disabled{
    cursor: not-allowed;
  }
  
  &-lg{
    font-weight: bold;
  }
}