@let campaign = store.campaign();
@let campaignStatistics = store.campaignStatistics();
@let users = store.users();

@if (campaign != null && campaignStatistics != null && users != null) {
  <app-campaign-admin
    [campaign]="campaign"
    [serverUrl]="serverUrl"
    [campaignStatistics]="campaignStatistics"
    [users]="users"
    (addAdmin)="store.addMemberToCampaignGroup('admin', $event)"
    (addMember)="store.addMemberToCampaignGroup('member', $event)"
    (addGuest)="store.addMemberToCampaignGroup('guest', $event)"
    (removeAdmin)="store.removeMemberFromCampaignGroup('admin', $event)"
    (removeMember)="store.removeMemberFromCampaignGroup('member', $event)"
    (removeGuest)="store.removeMemberFromCampaignGroup('guest', $event)"
    (addEmptySearchResponse)="store.addEmptySearchResponse($event)"
    (removeEmptySearchResponse)="store.deleteEmptySearchResponse($event)"
  />
}
