@import '/src/screens.scss';

:host{
  --sb-width: 16rem;
  --sb-width-neg: -16rem;
  --sb-margin: var(--sb-width);
  
  // Absolutely position the general window on mobile and take up the entire screen and cut out any overflow
  // Sidebar is placed underneath .page and only revealed by moving .page to the side.
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100vw;
  display: unset;
  overflow: clip;
  
  // On desktop, show both sidebar and page side by side, now absolute positioning
  @include media-breakpoint-up(md){
    position: unset;
    overflow: hidden;
    display: flex;
  }
}

.sidebar{
  position: absolute;
  left: 0;
  top: 0;
  z-index: -3;    
  height: 100vh;
  max-width: 90vw;
  width: var(--sb-width);
  
  // Desktop view show side-by-side with page
  @include media-breakpoint-up(md){
    position: unset;
    z-index: unset;
  }
}

.page{
  width: 100%;
  height: 100%;
  transition: margin-left 0.1s ease-out;
  position: relative;
  overflow-y: scroll;
  
  // Desktop view show side-by-side with page
  @include media-breakpoint-up(md){
    position: unset;
  }
  
  &--shift-right{
    margin-left: var(--sb-margin);
  }
  
  &__content{
    padding: var(--spacer-0);
    width: 100%;
    height: 100%;
  }
  
  &__background{
    position: absolute;
    transition: margin-left 0.1s ease-out;
    top: 0;
    left: 0;
    z-index: -2;
    width: 100%;
    height: 100%;
    
    &--shift-right{
      margin-left: var(--sb-margin);
    }
  }
}
