<ng-container *ngIf="campaign">
  <app-sidebar
    #sidebar
    class="sidebar sidebar--mobile-visible"
    [campaign]="campaign"
  ></app-sidebar>
</ng-container>

<div 
  class="page" 
  [class.page--shift-right]="showSidebar" 
  #content
>
  
  <div 
    class="page__content" 
    (scroll)="onPageScroll($event)"
    #innerContent
  >  
    <router-outlet #routerOutlet></router-outlet>
  </div>
  
  <app-page-background
    #background
    class="page__background"
    [imageUrl]="campaign?.background_image"
    [serverUrl]="serverUrl"
  ></app-page-background>
</div>
