<div class="mb-3 {{ field.className }}" [class.d-none]="to.hidden">
  <div class="d-flex flex-row align-items-center">
    @let descriptionLabelId = field.id + "-description";
    <div [id]="descriptionLabelId" class="cdk-visually-hidden">
      Opens a filepicker to select a file. You can also paste a file into the
      window.
    </div>
    <button
      btn
      class="file-field"
      [class.disabled]="props.disabled"
      [disabled]="!!props.disabled"
      [kind]="buttonType"
      [icon]="'upload'"
      [text]="'Click here or paste a file into the window'"
      [type]="'button'"
      aria-label="Filepicker"
      [id]="field.id ?? ''"
      [attr.aria-controls]="field.id"
      [attr.aria-describedby]="descriptionLabelId"
      (focus)="formControl.markAsTouched()"
      (click)="$event.preventDefault()"
      (clicked)="onButtonClick($event)"
    ></button>
  </div>
  <div class="mt-2">
    @if (selectedFileName) {
      <span class="me-3"> Currently Selected: </span>
      {{ selectedFileName }}
    } @else {
      No File Selected
    }
  </div>
</div>

<input
  #fileInputElement
  type="file"
  class="d-none"
  (change)="onFileSelect($event)"
  [formlyAttributes]="field"
  [name]="props['name']"
  data-formly-field-type="file"
/>
