<div class="mb-3 {{ field.className }}" [class.d-none]="to.hidden">
  <div class="d-flex flex-row align-items-center">
    <button
      btn
      class="file-field"
      [class.disabled]="props.disabled"
      [disabled]="!!props.disabled"
      [kind]="buttonType"
      [icon]="'upload'"
      [text]="'Click here or paste a file into the window'"
      (focus)="formControl.markAsTouched()"
      (clicked)="onButtonClick($event)"
    ></button>
  </div>
  <div class="mt-2">
    @if (selectedFileName) {
      <span class="me-3"> Currently Selected: </span>
      {{ selectedFileName }}
    } @else {
      No File Selected
    }
  </div>
</div>

<input
  #fileInputElement
  type="file"
  class="d-none"
  (change)="onFileSelect($event)"
  [formlyAttributes]="field"
  [id]="props['name']"
  [name]="props['name']"
  data-formly-field-type="file"
/>
