// @import 'bootstrap/scss/bootstrap';

.sidebar-border{
  border-left: solid 10px;
}

.row-entry{
  padding-top: var(--spacer-2);
  padding-bottom: var(--spacer-2);
  display: flex;
  align-items: center;
  justify-content: space-between;
}