:host {
  display: inherit;
  text-align: inherit;
  font-weight: bold;
}

.heading {
  gap: inherit;
  font-size: inherit;
  font-weight: inherit;
  display: inherit;
  flex-direction: inherit;
  justify-content: inherit;
  align-items: inherit;
  width: inherit;
  height: inherit;
  text-align: inherit;
  margin: unset;
}
