@import '../../../screens.scss';

:host{
  --table-bg: var(--bs-gray-dark); 
  --table-striped-bg: #3a3a3a; 
}

.heading{
  margin-bottom: var(--spacer-3);
  
  &__text{
    margin-top: auto;
    margin-bottom: auto;
    padding-left: var(--spacer-0) !important;
    padding-right: var(--spacer-0) !important;
  }
  
  &__select{
    background-color: var(--table-striped-bg);
    height: var(--spacer-5);
    border: 1px solid var(--table-bg);
    border-radius: var(--bs-border-radius);
    color: var(--bs-white);
  }
}

.table{
  padding-bottom: var(--spacer-2);
  
  &__element{
    padding: var(--spacer-3) var(--spacer-4) !important;
    
    :hover{
      color: var(--bs-link-hover-color);
    }
    
    &--link{
      cursor: pointer;
      text-decoration: underline;
    }
    
    &--desktop-only{
      @media(max-width: $medium-screen){
        display: none;
      }
    }
  }
}