<div class="container list">  
  <ng-container *ngIf="canCreate">
    <div class="row list__button">
      <app-button
        class="list__button--button"
        [type]="'PRIMARY'"
        [text]="'Add Spell'"
        [icon]="'plus'"
        (click)="addSpell()"
      ></app-button>
    </div>
  </ng-container>

  <div class="row">
    <ng-container *ngFor="let card of spellCards; let i = index">
      <div class="list__spell-card spell-card">
        <app-collapsible-panel 
          [isOpen]="card.isOpen"
          [ngClass]="{
            'animate__animated animate__zoomIn': card.spell.pk == null
          }"
        > 
          <div heading class="spell-card__heading">
            <span>
              {{ card.spell.name ?? ''}}
            </span> 
            
            <span>
              <ng-container *ngFor="let connection of card.spell.player_class_connections">
                <a class="spell-card__class">
                  <app-badge
                    [text]="connection.player_class_details?.name ?? ''"
                    [type]="'DARK'"
                  ></app-badge>
                </a>
              </ng-container>
            </span>
          </div>
        
          <app-spell
            body
            class="spell-card__spell"
            [spell]="card.spell"
            [serverModel]="serverModel"
            [canUpdate]="canUpdate"
            [canDelete]="canDelete"
            [canCreate]="canCreate"
            [cancelButtonType]="'DARK'"
            (spellDelete)="onSpellDelete($event, i)"
            (spellCreate)="spellCreate.emit($event)"
            (spellUpdate)="spellUpdate.emit($event)"
            (spellCreateCancel)="removeSpell(i)"
            (connectionDelete)="connectionDelete.emit($event)"
            (connectionCreate)="connectionCreate.emit($event)"
          ></app-spell>
        </app-collapsible-panel>
      </div>
    </ng-container>
  </div>
</div>


<!-- Loading Spinner -->
<ng-template #loading><app-spinner></app-spinner></ng-template>
