<!-- Heading -->
@let headingVal = heading();
@if (headingVal) {
  <div role="heading" [attr.aria-level]="ariaLevel()" class="heading h4">
    <label [for]="editorId" [innerHTML]="headingVal"> </label>
    @if (canUpdate()) {
      <button
        class="heading__edit-button fs-6 fw-normal"
        [hotkey]="'w'"
        (hotkeyPressed)="toggleEdit()"
        (click)="toggleEdit()"
      >
        (
        {{ editButtonText() }}
        <app-icon [icon]="'pen'"></app-icon>
        )
      </button>
    }
  </div>
}

<!-- Text Body -->
<app-editor
  class="w-100"
  [state]="state()"
  [cancelButtonKind]="cancelButtonKind()"
  [submitButtonKind]="submitButtonKind()"
  [text]="text()"
  [placeholder]="placeholder()"
  [canUpdate]="canUpdate()"
  [serverModel]="serverModel()"
  [id]="editorId"
  (update)="finishEdit($event)"
  (autosave)="this.update.emit($event)"
  (cancel)="cancelEdit()"
  (editStarted)="startEdit()"
></app-editor>
