<!-- Heading -->
@let headingVal = heading();
@if (headingVal) {
  <h4 class="heading">
    <app-html-text [text]="headingVal" />
    @if (canUpdate()) {
      <button class="heading__edit-button" (click)="toggleEdit()">
        <h6 class="heading__edit-text">
          (
          {{ editButtonText() }}
          <app-icon [icon]="'pen'"></app-icon>
          )
        </h6>
      </button>
    }
  </h4>
}

<!-- Text Body -->
<app-editor
  class="w-100"
  [state]="state()"
  [cancelButtonKind]="cancelButtonKind()"
  [submitButtonKind]="submitButtonKind()"
  [text]="text()"
  [placeholder]="placeholder()"
  [canUpdate]="canUpdate()"
  [serverModel]="serverModel()"
  (update)="finishEdit($event)"
  (autosave)="this.update.emit($event)"
  (cancel)="toggleEdit()"
  (toggleField)="toggleEdit()"
></app-editor>
