.field{
  margin-bottom: var(--spacer-3); 
  
  &__controls{
    margin-top: var(--spacer-1);
  }
  
  &__control{
    margin-left: var(--spacer-3);
    margin-right: var(--spacer-3);
    display: inline-block;
    width: fit-content;
  }
}

.quote{
  &__description{
    margin: var(--spacer-3) var(--spacer-0) var(--spacer-3) var(--spacer-3);
  }
}