<cdk-tree
  #tree
  class="tree row"
  [dataSource]="data()"
  [childrenAccessor]="childrenAccessor"
  [trackBy]="trackByFn"
>
  @let rootNodeClasses = "col-sm-6 mb-4 tree__node--root";
  <!-- Leaf template -->
  <cdk-nested-tree-node
    class="tree__node node node--leaf"
    [ngClass]="{ 'col-sm-6 mb-4 tree__node--root': node.isRootNode }"
    #treeNode="cdkNestedTreeNode"
    *cdkTreeNodeDef="let node"
  >
    <ng-container
      *ngTemplateOutlet="nodeContent; context: { $implicit: node }"
    />
  </cdk-nested-tree-node>

  <!-- Stem Template -->
  <cdk-nested-tree-node
    class="tree__node node node--stem"
    [ngClass]="{ 'col-sm-6 mb-4 tree__node--root': node.isRootNode }"
    #treeNode="cdkNestedTreeNode"
    *cdkTreeNodeDef="let node; when: hasChild"
    [cdkTreeNodeTypeaheadLabel]="node.label"
    [isExpanded]="true"
  >
    <ng-container
      *ngTemplateOutlet="nodeContent; context: { $implicit: node }"
    />
    <ng-container cdkTreeNodeOutlet />
  </cdk-nested-tree-node>
</cdk-tree>

<ng-template #nodeContent let-node>
  <a
    class="node__content"
    [class.node__content--root]="node.isRootNode"
    [routerLink]="node.link"
  >
    {{ node.label }}
  </a>
</ng-template>
