.linkentry{
  &--delete{
    justify-content: center;
  }
  
  &__link{
    text-align: end;
    cursor: pointer;
  }
  
  &__label{
    text-align: start;
  }
  
  &__box{
    background-color: var(--bs-secondary);
    padding: var(--spacer-2);  
  }
  
  &__delete{
    width: fit-content;
    display: inline-block;
  }
}

.box{
  display: flex;
  flex-direction: row;
  width: fit-content;
  border-radius: var(--bs-border-radius);
  border-color: var(--bs-danger);
  border-style: solid;
  border-width: 1px;
  
  &__message{
    font-weight: bold;
  }
  
  &__button{
    width: fit-content;
    margin-left: var(--spacer-3);
  }
}