.card {
  padding: var(--spacer-3);

  &:focus-within {
    outline: var(--focus-outline);
  }

  &__heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    text-align: start;
    margin-bottom: 0px;
  }

  &__heading-text {
    flex: 1;
    margin-right: var(--spacer-4);
  }

  &__button {
    width: 100%;
    outline: none;
  }

  &__heading-icon {
    transition: transform 0.2s ease-in-out;

    &--open {
      transform: rotateX(180deg);
    }
  }
}
