:host{
  --image-height: 90vh;
}

.container-fluid{
  height: var(--image-height);
}

.image-grid{
  height: 100%;
    
  &__entry{
    cursor: pointer;
  }
}

.entry{
  position: relative;
  text-decoration: none;
  display: flex;
  justify-content: center;
  background-size: cover;
  background-position: center;
  min-height: 30vh;
  
  opacity: 0.75;
  transition: opacity 0.2s ease-in-out;
  
  &:hover{
    opacity: 1;
    
    .entry__heading{
      color: var(--link-blue);
      transform: scale(1.2);
      transition: transform 0.2s ease-in-out;
    }
  }
  
  &__overlay{
    position: absolute;
    background-color: var(--wiki-bg-transparent);
    z-index: 1;
    width: 100%;
    min-height: 4rem;
    line-break: anywhere;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  &__heading{
    margin-bottom: var(--spacer-0);
    padding-left: var(--spacer-3);
    padding-right: var(--spacer-3);
  }
}