<div class="footer">
  <ng-container *ngIf="buttonLink; then linkButton; else nonLinkButton"></ng-container>

  <ng-container *ngIf="showDelete">
    <app-confirmation-toggle-button 
      [toggleType]="'DANGER'"
      [confirmationQuestion]="deleteMessage"
      (confirm)="delete.emit()"
    >
      <app-icon [icon]="'trash'"></app-icon>
    </app-confirmation-toggle-button>
  </ng-container>
</div>

<ng-template #linkButton>
  <a [routerLink]="buttonLink" (click)="buttonClick.emit()">
    <app-button [type]="'SECONDARY'">
      {{buttonLabel}}
    </app-button>
  </a>
</ng-template>

<ng-template #nonLinkButton>
  <app-button [type]="'SECONDARY'" (click)="buttonClick.emit()">
    {{buttonLabel}}
  </app-button>
</ng-template> 