@use "src/utils" as utils;

@include utils.reset-list-styles();

.filter {
  &__input-container {
    display: flex;
    flex-direction: row;
    border: 1px var(--bs-white) solid;
    border-radius: var(--bs-border-radius);
    width: 100%;
    height: var(--spacer-5);
    margin-top: var(--spacer-2);
    margin-bottom: var(--spacer-4);
    padding: 0;
  }

  &__input {
    background-color: var(--bs-dark);
    border-radius: var(--bs-border-radius);
    padding: var(--spacer-0) var(--spacer-3);
    border: none;
    color: var(--bs-white);

    &:focus,
    &:focus-visible {
      box-shadow: 0 0 0 2px var(--bs-white);
      background: rgba(255, 255, 255, 0.1);
      outline: var(--focus-outline);
      border-top-left-radius: var(--bs-border-radius);
      border-bottom-left-radius: var(--bs-border-radius);
    }

    width: 100%;
  }

  &__button {
    height: 100%;
    padding: var(--spacer-3);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.letter-list {
  padding-top: var(--spacer-4);
  padding-bottom: var(--spacer-4);
  border-bottom: var(--bs-border-width) var(--bs-border-style)
    var(--bs-border-color);

  &__heading {
    margin-bottom: var(--spacer-2);
  }

  &__list {
    margin-bottom: var(--spacer-0);
    padding-left: var(--spacer-4);
  }

  &__item {
    list-style-type: disclosure-closed;
  }
}

.search-list {
  padding-left: var(--spacer-4);
}
