<div class="container">
  <form
    class="row filter"
    autocomplete="off"
    (submit)="openFirstArticle($event)"
    [hotkey]="'f'"
    (hotkeyPressed)="filterInputElement.focus()"
  >
    <label class="cdk-visually-hidden" for="search-input">
      {{ heading() }} name
    </label>
    <input
      id="search-input"
      class="filter__input"
      type="text"
      placeholder="Search for {{ heading() }} ..."
      #filterInputElement
      (keyDown)="filterValue.set(filterInputElement.value)"
      (input)="filterValue.set(filterInputElement.value)"
    />
  </form>

  <div class="row">
    <ng-container
      *ngTemplateOutlet="mode() === 'LETTER' ? letterList : propertyList"
    ></ng-container>
  </div>
</div>

<ng-template #letterList>
  @for (
    itemLetterEntries of displayEntries() | groupByFirstLetter: labelProp();
    track $index
  ) {
    <section
      class="letter-list"
      [ngClass]="{
        'col-sm-6 col-lg-4': !filterInputElement.value && !forceSingleLine(),
        'col-12': filterInputElement.value || forceSingleLine,
      }"
    >
      <!-- Letter Heading -->
      @if (filterInputElement.value.length === 0) {
        <div class="fs-5 letter-list__heading">
          {{ itemLetterEntries.key }}
        </div>
      }

      <!-- Article List -->
      <ul class="letter-list__list">
        @for (item of itemLetterEntries.value; track $index) {
          <li>
            <a [routerLink]="item.link">
              {{ item[labelProp()] }}
            </a>
          </li>
        }
      </ul>
    </section>
  }
</ng-template>

<ng-template #propertyList>
  @let groupPropVal = groupProp();
  @if (groupPropVal) {
    @for (
      itemLetterEntries of displayEntries()
        | groupBy: groupPropVal : "session_details.session_number";
      track $index
    ) {
      <div
        class="letter-list"
        [ngClass]="{
          'col-sm-6 col-lg-4': !filterInputElement.value && !forceSingleLine,
          'col-12': filterInputElement.value || forceSingleLine,
        }"
      >
        <!-- Letter Heading -->
        @if (filterInputElement.value.length === 0) {
          <h5 class="letter-list__heading">
            {{ itemLetterEntries.key }}
          </h5>
        }

        <!-- Article List -->
        <ul class="letter-list__list">
          @for (item of itemLetterEntries.value; track $index) {
            <li>
              <a [routerLink]="item.link">
                {{ item[labelProp()] }}
              </a>
            </li>
          }
        </ul>
      </div>
    }
  }
</ng-template>
