<section class="list">
  <!-- Heading -->
  <div class="list__heading">
    <div [heading]="ariaLevel()">{{ heading() }}</div>
    @if (enableCreate()) {
      <button
        btn
        class="ms-3"
        [title]="'Create ' + heading()"
        [kind]="'PRIMARY'"
        [size]="'SMALL'"
        [icon]="'plus'"
        (clicked)="onCreateButtonClick()"
      ></button>
    }
  </div>

  <!-- List -->
  @if (entries() && entries().length > 0) {
    <ul class="list__list">
      @for (entry of entries(); track $index) {
        <li class="list__entry">
          <a [routerLink]="entry.link">
            {{ entry.label }}
          </a>
        </li>
      }
    </ul>
  } @else {
    <div>
      {{ emptyListText() }}
    </div>
  }
</section>
