<app-page-container>
  <article class="container create-update">
    <h1 class="create-update__heading heading">
      
      <span class="heading__text">
        {{ state === 'CREATE' ? 'Create new Character' : 'Update Character' }}
      </span>  
      
      <!-- Heading -->
      <div class="heading__edit-cancel">
        <app-button
          (click)="onCancel()"
          [icon]="'times'"
          [type]="'SECONDARY'"
        ></app-button>
      </div>
    </h1>
  
    <!-- Form -->
    <ng-container [ngSwitch]="state">
      <ng-container 
        *ngSwitchCase="'CREATE'"
        [ngTemplateOutlet]="createForm"
      ></ng-container>
      <ng-container 
        *ngSwitchCase="'UPDATE'"
        [ngTemplateOutlet]="updateForm"
      ></ng-container>
      <ng-container 
        *ngSwitchCase="'OUTDATED_UPDATE'"
        [ngTemplateOutlet]="outdatedUpdateForm"
      ></ng-container>
    </ng-container>
    
  </article>
</app-page-container>

<ng-template #createForm>
  <app-form
    class="create-update__form"
    [model]="userModel" 
    [fields]="formlyFields" 
    (formlySubmit)="onSubmit($event)" 
    (formlyCancel)="onCancel()"
  ></app-form>
</ng-template>

<ng-template #updateForm>
  <div class="create-update__form form">
        
    <div class="form__player-classes">
      <h4 class="form__heading"> {{userModel.name}}'s Classes </h4>
      
      <app-separator class="form__heading-separator"></app-separator>

      <!-- Add-Class-Badge -->
      <h6>
        <app-badge-list
          [label]="'Class'"
          [entries]="characterClasses"
          [createOptions]="{
            options: classOptions,
            valueProp: 'pk',
            labelProp: 'name',
          }"
          [canCreate]="true"
          [canDelete]="true"
          (entryCreate)="addClass.emit($event)"
          (entryDelete)="removeClass.emit($event)"
        ></app-badge-list>
      </h6>
    </div>    
  
    <!-- Memberships -->
    <div class="form__memberships">          
      <!-- Form -->
      <ng-container [ngSwitch]="membershipFormState">
        <ng-container 
          *ngSwitchCase="'CREATE'"
          [ngTemplateOutlet]="createMembershipForm"
        ></ng-container>
        <ng-container 
          *ngSwitchCase="'DISPLAY'"
          [ngTemplateOutlet]="displayMembershipForm"
        ></ng-container>
      </ng-container>

    </div>
    

    <div class="form__character-data">
      <h4 class="form__heading"> Character Data </h4>
      
      <app-separator class="form__heading-separator"></app-separator>
      
      <app-form
        [model]="userModel" 
        [fields]="formlyFields" 
        (formlySubmit)="onSubmit($event)" 
        (formlyCancel)="onCancel()"
      ></app-form>
    </div>
    
  </div>
</ng-template>

<ng-template #createMembershipForm>
  <h4 class="form__heading"> Create Organization Membership </h4>
  
  <app-separator class="form__heading-separator"></app-separator>
  
  <app-form
    [model]="organizationModel"
    [fields]="organizationFormlyFields"
    (formlySubmit)="createMembership($event)"
    (formlyCancel)="setMembershipFormState('DISPLAY')"
  ></app-form>
</ng-template>

<ng-template #displayMembershipForm>
  <h4 class="form__heading"> {{userModel.name}}'s Organization Memberships </h4>

  <app-separator class="form__heading-separator"></app-separator>
  
  <h6>
    <app-badge-list
      [label]="'Membership'"
      [entries]="characterOrganizations"
      [canCreate]="false"
      [canDelete]="true"
      (entryCreate)="addOrganizationMembership.emit($event)"
      (entryDelete)="removeOrganizationMembership.emit($event)"
    ></app-badge-list>
    <app-badge
      [text]="'Add Membership'"
      [type]="'PRIMARY'"
      [icon]="'plus'"
      (click)="setMembershipFormState('CREATE')"
    ></app-badge>
  </h6>
</ng-template>

<ng-template #outdatedUpdateForm>
  <app-compare-form
    [fields]="formlyFields"
    [modelFromUser]="userModel"
    [modelFromServer]="serverModel"
    (formlySubmit)="onSubmit($event)"
    (formlyCancel)="onCancel()"
  ></app-compare-form>
</ng-template>
