<div class="container list">
  @if (!isUpdatingGlobally()) {
    <!-- Insert new first Encounter -->
    @if (state === "EDIT") {
      <div class="row">
        <div class="list__buttons buttons">
          @if (canCreate()) {
            <app-button
              class="col-6 col-md-4 buttons__button buttons__button--left"
              title="Add Encounter to Diaryentry"
              [size]="'LARGE'"
              [icon]="'plus'"
              [text]="'Add First Encounter'"
              [disabled]="isUpdatingAnything()"
              (click)="addEmptyEncounterAtIndex(-1)"
            ></app-button>
          }
          @if (canUpdate()) {
            <app-button
              class="col-6 col-md-4 buttons__button buttons__button--right"
              title="Insert Cut Encounter"
              [size]="'LARGE'"
              [icon]="'file-import'"
              [text]="'Insert Cut Encounter'"
              [type]="'SECONDARY'"
              [disabled]="
                isUpdatingAnything() ||
                cutEncounterIndex() == null ||
                cutEncounterIndex() === 0
              "
              (click)="onInsertExcisedEncounter(-1 + 1)"
            ></app-button>
          }
        </div>
      </div>
    }

    <!-- Diaryentry - Encounters -->
    <div class="row">
      @for (entryEncounter of diaryEntryEncounters(); track entryEncounter) {
        <!-- Encounter -->
        <div class="repeated-unit">
          @switch (state) {
            @case ("READ") {
              <ng-container
                *ngTemplateOutlet="
                  displayEncounter;
                  context: { $implicit: entryEncounter }
                "
              />
            }
            @case ("EDIT") {
              <ng-container
                *ngTemplateOutlet="
                  editEncounter;
                  context: {
                    $implicit: { entry: entryEncounter, index: $index },
                  }
                "
              />
            }
          }

          <!-- Insert new Encounter -->
          @if (state === "EDIT") {
            <div class="list__buttons buttons">
              @if (canCreate()) {
                <app-button
                  class="col-6 col-md-4 buttons__button buttons__button--left"
                  title="Add Encounter to DiaryEntry"
                  [size]="'LARGE'"
                  [icon]="'plus'"
                  [text]="'Add Encounter'"
                  [disabled]="isUpdatingAnything()"
                  (click)="addEmptyEncounterAtIndex($index)"
                ></app-button>
              }
              @if (canUpdate()) {
                <app-button
                  class="col-6 col-md-4 buttons__button buttons__button--right"
                  title="Insert Cut Encounter"
                  [size]="'LARGE'"
                  [icon]="'file-import'"
                  [text]="'Insert Cut Encounter'"
                  [type]="'SECONDARY'"
                  [disabled]="
                    isUpdatingAnything() ||
                    cutEncounterIndex() == null ||
                    cutEncounterIndex()! - 1 === $index ||
                    cutEncounterIndex() === $index
                  "
                  (click)="onInsertExcisedEncounter($index + 1)"
                ></app-button>
              }
            </div>
          }
        </div>
      }
    </div>
  } @else {
    <ng-container *ngTemplateOutlet="loading" />
  }
</div>

<ng-template #displayEncounter let-entryEncounter>
  <h4>{{ entryEncounter.encounter?.title }}</h4>
  <app-html-text [text]="entryEncounter.encounter.description"></app-html-text>
</ng-template>

<ng-template #editEncounter let-context>
  <app-card
    class="encounter-card"
    [ngClass]="{
      'animate__animated animate__zoomIn': context.entry.encounter.pk == null,
    }"
  >
    @if (!context.entry.isUpdating) {
      <app-encounter
        class="encounter-card__encounter"
        [encounter]="context.entry.encounter"
        [characters]="campaignCharacters() ?? []"
        [locations]="campaignLocations() ?? []"
        [serverModel]="encounterServerModel()"
        [canUpdate]="canUpdate()"
        [canDelete]="canDelete()"
        [canCreate]="canCreate()"
        [initialState]="
          context.entry.encounter.pk == null ? 'CREATE' : 'DISPLAY'
        "
        (connectionDelete)="connectionDelete.emit($event)"
        (connectionCreate)="connectionCreate.emit($event)"
        (encounterDelete)="onEncounterDelete(context.index)"
        (encounterUpdate)="encounterUpdate.emit($event)"
        (encounterCreate)="onEncounterCreate($event)"
        (encounterCreateCancel)="onEncounterCreateCancel(context.index)"
      ></app-encounter>
      @if (canUpdate() && context.entry.encounter.pk != null) {
        <div class="encounter-card__side-buttons side-buttons">
          <app-button
            class="side-buttons__button side-buttons__button--edit"
            [disabled]="
              cutEncounterIndex() != null &&
              context.index !== cutEncounterIndex()
            "
            [type]="
              cutEncounterIndex() != null &&
              context.index === cutEncounterIndex()
                ? 'PRIMARY'
                : 'DARK'
            "
            [icon]="
              cutEncounterIndex() != null &&
              context.index === cutEncounterIndex()
                ? 'times'
                : 'cut'
            "
            [disabled]="isUpdatingAnything()"
            (click)="onExcisionClick(context.index)"
          ></app-button>
          <app-arrow-button
            class="side-buttons__button side-buttons__button--arrow"
            [type]="'DARK'"
            [icon]="'up'"
            [disabled]="isUpdatingAnything()"
            (click)="onEncounterOrderDecrease(context.index)"
          ></app-arrow-button>
          <app-arrow-button
            class="side-buttons__button side-buttons__button--arrow"
            [type]="'DARK'"
            [icon]="'down'"
            [disabled]="isUpdatingAnything()"
            (click)="onEncounterOrderIncrease(context.index)"
          ></app-arrow-button>
        </div>
      }
    } @else {
      <ng-container *ngTemplateOutlet="loading" />
    }
  </app-card>
</ng-template>

<!-- Loading Spinner -->
<ng-template #loading><app-spinner></app-spinner></ng-template>
