@if (clickable()) {
  <button class="badge-button" (click)="badgeClick.emit()">
    <ng-container [ngTemplateOutlet]="content" />
  </button>
} @else {
  <ng-container [ngTemplateOutlet]="content" />
}

<ng-template #content>
  <div
    class="badge"
    [title]="text()"
    [ngClass]="{
      'bg-primary': type() === 'PRIMARY',
      'bg-secondary': type() === 'SECONDARY',
      'bg-dark': type() === 'DARK',
      'bg-danger': type() === 'DANGER',
      'bg-warning': type() === 'WARNING',
      'bg-light': type() === 'LIGHT',
      'bg-info': type() === 'INFO',
    }"
  >
    @let iconVal = icon();
    @if (iconVal) {
      <app-icon [icon]="iconVal"></app-icon>
    }
    {{ text() }}
  </div>
</ng-template>
