.badge-button {
  border-radius: var(--bs-border-radius);
  display: flex;

  &:focus,
  &:focus-within,
  &:hover {
    outline: solid 3px var(--bs-link-hover-color);

    .badge {
      color: inherit;
    }
  }
}

.bg-warning,
.bg-light,
.bg-info {
  color: (var(--bs-black));
}
