.quest{
  &__edit-container{
    width: 100%;
    display: flex;
    justify-content: end;
  }
  
  &__heading{
    text-align: center;
  }
  
  &__data-row{
    margin-bottom: var(--spacer-5);
  }
  
  &__description{
    margin-bottom: var(--spacer-5);
  }
}