<app-page-container>
  <article class="container creature">
    @if (canUpdate()) {
      <div class="creature__edit-container">
        <a [routerLink]="updateUrl()">
          <app-button [icon]="'pencil'" [type]="'SECONDARY'"></app-button>
        </a>
      </div>
    }

    <!-- Heading -->
    <div class="row">
      <h1 class="col-12 creature__heading">
        {{ creature().name }}
      </h1>
    </div>

    <!-- Image Gallery -->
    <div class="creature__images">
      <app-image-carousel-card
        [images]="creature().images ?? []"
        [serverUrl]="serverUrl()"
        [serverModel]="imageServerModel()"
        [canUpdate]="canUpdate()"
        [canCreate]="canCreate()"
        [canDelete]="canDelete()"
        (createImage)="createImage.emit($event)"
        (deleteImage)="deleteImage.emit($event)"
        (updateImage)="updateImage.emit($event)"
      ></app-image-carousel-card>
    </div>

    <!-- Description -->
    <app-editable-text
      class="creature__description"
      [heading]="'Description'"
      [placeholder]="'Add a description for ' + creature().name"
      [text]="creature().description"
      (update)="onDescriptionUpdate($event)"
    ></app-editable-text>

    <!-- Footer (Move to other Article + Delete Article) -->
    <app-article-footer
      [buttonLink]="overviewUrl()"
      [buttonLabel]="'Back to Creatures'"
      [showDelete]="canDelete()"
      [deleteMessage]="'Delete ' + creature().name + '?'"
      (delete)="creatureDelete.emit(creature())"
    ></app-article-footer>
  </article>
</app-page-container>
