<app-sidebar
  #sidebar
  class="sidebar"
  [@sidebarSlideInOut]="campaign ? 'visible' : 'hidden'"
  [class.sidebar--mobile-visible]="showSidebar"
  [campaign]="campaign"
  [hasCampaignAdminPrivileges]="hasCampaignAdminPrivileges"
  (logout)="logout.emit()"
></app-sidebar>

<div class="page" [class.page--shift-right]="showSidebar" #content>
  <div class="page__content" (scroll)="onPageScroll($event)" #innerContent>
    <router-outlet #routerOutlet></router-outlet>
  </div>

  <app-page-background
    #background
    class="page__background"
    [imageUrl]="campaign?.background_image"
    [serverUrl]="serverUrl"
  ></app-page-background>
</div>
