@import "/src/screens.scss";

:host {
  --sb-width: 18rem;
  --sb-margin: var(--sb-width);
  --navbar-height: 52px;

  height: 100dvh;
  max-height: 100dvh;
  width: 100vw;
  display: flex;
  flex-direction: column;

  // On desktop, show both sidebar and page side by side, now absolute positioning
  @include media-breakpoint-up(md) {
    overflow: hidden;
    flex-direction: row;
  }
}

.mobile {
  width: 100%;

  .navbar {
    --bs-navbar-padding-y: var(--spacer-1);
    --bs-navbar-color: var(--bs-white);
    --bs-navbar-brand-color: var(--bs-white);
    --bs-navbar-brand-hover-color: var(--bs-white);
    --bs-navbar-hover-color: var(--bs-white);
    --bs-navbar-active-color: var(--bs-white);

    .navbar-brand {
      flex: 1;
      max-width: 100%;
      text-overflow: ellipsis;
      overflow: hidden;
      text-align: center;
      margin-right: unset;

      .navbar-brand-icon {
        --brand-height: calc(var(--navbar-height) - 6px);
        height: var(--brand-height);
        width: var(--brand-height);
        border-radius: var(--bs-border-radius);
        margin-right: var(--spacer-2);
        margin-left: var(--spacer-2);
      }
    }
  }

  @include media-breakpoint-up(md) {
    display: none;
  }
}

.desktop {
  display: none;

  .sidebar {
    width: var(--sb-width);
  }
  @include media-breakpoint-up(md) {
    display: unset;
  }
}

.page {
  flex: 1;
  transition: margin-left 0.1s ease-out;
  position: relative;
  max-height: calc(100mvh - var(--navbar-height));
  overflow-y: auto;

  // Desktop view show side-by-side with page
  @include media-breakpoint-up(md) {
    position: unset;
    height: 100%;
    max-height: unset;
  }

  &__content {
    padding: var(--spacer-0);
    width: 100%;
    height: 100%;
    overflow: auto;
  }

  &__background {
    position: fixed;
    transition: margin-left 0.1s ease-out;
    top: 0;
    left: 0;
    z-index: -2;
    width: 100%;
    height: 100vh;

    &--shift-right {
      margin-left: var(--sb-margin);
    }
  }
}
