<app-page-container>
  <article class="home">
    <!-- Heading -->
    @if (campaignData()) {
      <header class="home__heading-container heading-container">
        <img
          class="heading-container__icon"
          [ngSrc]="serverUrl() + campaignData()?.icon"
          [width]="128"
          [height]="128"
          priority
          [alt]="DEFAULT_ICON"
        />
        <h1 class="heading-container__heading">
          {{ campaignData()?.name }}
        </h1>
        <app-html-text
          class="heading-container__subheading"
          [text]="campaignData()?.subtitle ?? ''"
        ></app-html-text>
      </header>
    } @else {
      <app-placeholder class="heading-container--placeholder" />
    }

    <!-- Search Bar -->
    <app-search-field
      class="home__search-bar"
      [placeholder]="'Search for Articles in this campaign!'"
      [btnAriaLabel]="'Start search!'"
      [canSearch]="(isOnline$ | async) === true"
      (appSearch)="appSearch.emit($event)"
    ></app-search-field>

    <!-- News -->
    <div class="home__feed feed">
      <div class="row feed__controls">
        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
          <app-switch
            class="feed__mode-switch"
            [checked]="feedMode() === 'INFINITY_SCROLL'"
            [label]="
              feedMode() === 'INFINITY_SCROLL'
                ? 'Infinity Scroll'
                : 'Pagination'
            "
            (changed)="toggleFeedMode($event)"
            (focusin)="isSwitchInFocus.set(true)"
            (focusout)="isSwitchInFocus.set(false)"
          ></app-switch>
        </div>

        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 px-2">
          <label for="time-filter"> Show updates from: </label>
          <app-choice-select
            [id]="id + '-time-filter'"
            class="feed__select"
            [choices]="timeFilterOptions"
            [labelProp]="'label'"
            [selectedLabelValue]="timeFilter()"
            (choiceSelect)="timeFilter.set($event.value)"
          ></app-choice-select>
        </div>
      </div>

      <app-icon-card-list
        class="feed__articles col-sm-6 col-md-6 col-lg-5 col-xl-3"
        [isLoading]="isLoading()"
        [articles]="articleEntries()"
      ></app-icon-card-list>

      @if (feedMode() === "BUTTON_LOAD") {
        <div class="row justify-content-center">
          <button
            btn
            class="col-sm-6 col-md-6 col-lg-4 col-xl-3"
            [kind]="'PRIMARY'"
            [text]="
              canLoadMore() ? 'Load more articles' : 'You\'ve reached the end!'
            "
            [icon]="'download'"
            [disabled]="!canLoadMore()"
            [isLoading]="isLoading()"
            (clicked)="triggerNextPageLoad()"
          ></button>
        </div>
      }
    </div>

    @if (isHotkeyModifierPressed()) {
      <button
        btn
        class="hotkey-help"
        [kind]="'LIGHT-OUTLINE'"
        [disabled]="true"
        [text]="'Hotkey Help: Alt + H'"
      ></button>
    }
  </article>
</app-page-container>
