<div class="container">
  <div class="campaign__heading heading">
    <div class="heading__buttons">
      <a (click)="logout.emit()" class="heading__button">
        <button
          btn
          [kind]="'SECONDARY'"
          [icon]="'sign-out-alt'"
          [text]="'Logout'"
        ></button>
      </a>

      @if (isGlobalAdmin()) {
        <a [routerLink]="generalAdminUrl()" class="heading__button">
          <button
            btn
            [kind]="'INFO'"
            [icon]="'user-cog'"
            [text]="'General Administration'"
          ></button>
        </a>

        <a [routerLink]="configTableUrl()" class="heading__button">
          <button
            btn
            [kind]="'INFO'"
            [icon]="'table'"
            [text]="'Config Tables'"
          ></button>
        </a>
      }
    </div>

    @let campaignsVal = campaigns();
    <h3 class="heading__text">
      @if (campaignsVal && campaignsVal.length > 0) {
        Choose Your Campaign
      } @else if (campaignsVal && campaignsVal.length == 0) {
        <ng-container *ngTemplateOutlet="noCampaignHeading" />
      } @else {
        <app-spinner></app-spinner>
      }
    </h3>
  </div>

  <div class="body">
    @if (campaignsVal != null) {
      @if (campaignsVal.length > 0) {
        <app-image-grid
          class="body__images"
          [entries]="campaignsVal"
          [imageProp]="'background_image'"
          [serverUrl]="serverUrl()"
          [labelProp]="'name'"
          [iconProp]="'icon'"
          (entryClick)="onCampaignClick($event)"
        ></app-image-grid>
      } @else {
        <ng-container *ngTemplateOutlet="noCampaign" />
      }
    }
  </div>
</div>

<ng-template #noCampaign>
  <div class="w-100 h-100 position-relative d-flex justify-content-center">
    <img
      class="w-100 h-100"
      [src]="dragonFrameUrl"
      alt="Placeholder image for when no campaigns are available"
    />
    <div class="position-absolute frame-text">
      <h4 class="mb-1">You have not yet been invited into any campaign.</h4>
      <div>
        Please inform your DM or the person within your group administrating the
        webserver to add you to the required permission group.
      </div>
    </div>
  </div>
</ng-template>

<ng-template #noCampaignHeading> No Campaign available! </ng-template>
