<div class="repeated-unit" [id]="encounter().title">
  @switch (state()) {
    @case ("READ") {
      <ng-container *ngTemplateOutlet="displayEncounter" />
    }
    @case ("EDIT") {
      <ng-container *ngTemplateOutlet="editEncounter" />
    }
  }
</div>

<ng-template #displayEncounter>
  <div class="h4" role="heading" [attr.aria-level]="ariaLevel()">
    {{ encounter().title }}
  </div>
  <app-html-text [text]="encounter().description"></app-html-text>
</ng-template>

<ng-template #editEncounter>
  <app-card class="encounter-card">
    @if (!isUpdating()) {
      <app-encounter
        class="encounter-card__encounter"
        [encounter]="encounter()"
        [characters]="characters()"
        [locations]="locations()"
        [serverModel]="serverModel()"
        [canUpdate]="canUpdate()"
        [canDelete]="canDelete()"
        [canCreate]="canCreate()"
        [isInFocus]="isInFocus()"
        [initialCardState]="encounter().pk == null ? 'CREATE' : 'DISPLAY'"
        (connectionDelete)="connectionDelete.emit($event)"
        (connectionCreate)="connectionCreate.emit($event)"
        (encounterDelete)="encounterDelete.emit($event)"
        (encounterUpdate)="encounterUpdate.emit($event)"
        (encounterCreate)="encounterCreate.emit($event)"
        (encounterCreateCancel)="encounterCreateCancel.emit()"
      ></app-encounter>
    } @else {
      <ng-container *ngTemplateOutlet="loading" />
    }
  </app-card>
</ng-template>

<!-- Loading Spinner -->
<ng-template #loading>
  <div class="d-flex justify-content-center w-100">
    <app-spinner aria-label="Loading" class="spinner"></app-spinner>
  </div>
</ng-template>
