<app-page-container>
  <article class="config-tables">
    <a class="config-tables__return-button" [routerLink]="campaignOverviewUrl">
      <button
        btn
        [kind]="'SECONDARY'"
        [icon]="'globe-americas'"
        [text]="'Back to campaign overview'"
      ></button>
    </a>

    <!-- Sections -->
    @for (table of tables(); track table.kind) {
      <app-config-table
        [table]="table"
        [canDeleteGlobalEntries]="hasCampaignWritePermission()"
        [canDeleteCampaignEntries]="hasCampaignWritePermission()"
        [canCreate]="hasCampaignWritePermission()"
        (loadTableEntries)="loadTableEntries.emit(table.kind)"
        (createTableEntry)="createEntry(table.kind, $event)"
        (deleteTableEntry)="
          deleteTableEntry.emit({ table: table.kind, entry: $event })
        "
      ></app-config-table>
    }

    <a class="config-tables__return-button" [routerLink]="campaignOverviewUrl">
      <button
        btn
        [kind]="'SECONDARY'"
        [icon]="'globe-americas'"
        [text]="'Back to campaign overview'"
      ></button>
    </a>
  </article>
</app-page-container>
