<app-page-container>
  <article class="container">
    @if (canUpdate()) {
      <div class="organization__edit-container">
        <a [routerLink]="updateUrl()" tabindex="-1">
          <app-button
            [title]="'Edit ' + organization().name"
            [icon]="'pencil'"
            [type]="'SECONDARY'"
          ></app-button>
        </a>
      </div>
    }

    <!-- Heading -->
    <div class="row">
      <h1 class="col-12 organization__heading">
        {{ organization().name }}
      </h1>
      <!-- Leader-Subheading -->
      <div class="col-12 organization__subheading">
        Leader:
        @if (organization().leader) {
          <strong>
            <a class="ms-1" [routerLink]="leaderUrl()">
              {{ organization().leader }}
            </a>
          </strong>
        } @else {
          <ng-container *ngTemplateOutlet="Unknown" />
        }
      </div>

      <!-- Headquarters Subheading -->
      <div class="col-12 organization__subheading">
        Headquarters:
        @if (organization().headquarter_details) {
          <strong>
            <a class="ms-1" [routerLink]="headquarterUrl()">
              {{ organization().headquarter_details?.name_full }}
            </a>
          </strong>
        } @else {
          <ng-container *ngTemplateOutlet="Unknown" />
        }
      </div>
    </div>

    <!-- Image Gallery -->
    <div class="organization__images">
      <app-image-carousel-card
        [images]="organization().images ?? []"
        [serverUrl]="serverUrl()"
        [serverModel]="imageServerModel()"
        [canUpdate]="canUpdate()"
        [canCreate]="canCreate()"
        [canDelete]="canDelete()"
        (createImage)="createImage.emit($event)"
        (deleteImage)="deleteImage.emit($event)"
        (updateImage)="updateImage.emit($event)"
      ></app-image-carousel-card>
    </div>

    <!-- Description -->
    <app-editable-text
      class="organization__description"
      [heading]="'Description'"
      [placeholder]="'Add a description for ' + organization().name"
      [text]="organization().description"
      [canUpdate]="canUpdate()"
      (update)="onDescriptionUpdate($event)"
    ></app-editable-text>

    <!-- Members -->
    <div class="organization__members">
      <app-list
        [heading]="'Members'"
        [entries]="organizationMembers()"
        [enableCreate]="canCreate()"
        [emptyListText]="'You know no member of ' + organization().name"
        (create)="routeToCharacterCreation()"
      ></app-list>
    </div>

    <!-- Footer (Move to other Article + Delete Article) -->
    <app-article-footer
      [buttonLink]="overviewUrl()"
      [buttonLabel]="'Back to Organizations'"
      [showDelete]="canDelete()"
      [deleteMessage]="'Delete ' + organization().name + '?'"
      (delete)="organizationDelete.emit(organization())"
    ></app-article-footer>
  </article>
</app-page-container>
<ng-template #Unknown>Unknown</ng-template>
