.image {
	-moz-transform: scale(1.125);
	-webkit-transform: scale(1.125);
	-ms-transform: scale(1.125);
	transform: scale(1.125);
	
	height: 100%;
	width: 100%;
	
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}