<div class="container list">  
  <ng-container *ngIf="canCreate">
    <div class="row list__button">
      <app-button
        [type]="'PRIMARY'"
        [text]="'Add Rule'"
        [icon]="'plus'"
        (click)="addRule()"
      ></app-button>
    </div>
  </ng-container>

  <div class="row">
    <ng-container *ngFor="let card of ruleCards; let i = index">
      <div class="list__rule-card rule-card">
        <app-collapsible-panel [heading]="card.rule.name" [isOpen]="card.isOpen"> 
          <app-rule
            body
            class="rule-card__rule"
            [rule]="card.rule"
            [serverModel]="serverModel"
            [canUpdate]="canUpdate"
            [canDelete]="canDelete"
            [canCreate]="canCreate"
            [cancelButtonType]="'DARK'"
            (ruleDelete)="onRuleDelete($event, i)"
            (ruleCreate)="ruleCreate.emit($event)"
            (ruleUpdate)="ruleUpdate.emit($event)"
            (ruleCreateCancel)="removeRule(i)"
          ></app-rule>
        </app-collapsible-panel>
      </div>
    </ng-container>
  </div>
</div>


<!-- Loading Spinner -->
<ng-template #loading><app-spinner></app-spinner></ng-template>
