<h4>
  Locations of Interest

  <ng-container *ngIf="canCreate">
    <a class="create-button" [routerLink]="createUrl">
      <app-button
        [type]="'PRIMARY'"
        [size]="'SMALL'"
        [icon]="'plus'"
      ></app-button>
    </a>
  </ng-container>
</h4>

<div ngbAccordion [closeOthers]="true">
  <div
    ngbAccordionItem
    [id]="'static-' + i"
    *ngFor="let entry of accordionEntries; let i = index"
  >
    <!-- Header -->
    <div ngbAccordionHeader class="button-container">
      <button ngbAccordionButton>
        <a class="location-title" [routerLink]="entry.link">
          {{ entry.value.name }}
        </a>
      </button>
    </div>

    <!-- Body -->
    <div ngbAccordionCollapse>
      <div ngbAccordionBody>
        <app-location [location]="entry.value"></app-location>
      </div>
    </div>
  </div>
</div>
