<h4>
  Locations of Interest

  @if (canCreate()) {
    <a class="create-button" [routerLink]="createUrl()" tabindex="-1">
      <app-button
        title="Create Location"
        [type]="'PRIMARY'"
        [size]="'SMALL'"
        [icon]="'plus'"
      ></app-button>
    </a>
  }
</h4>

<div ngbAccordion [closeOthers]="true">
  @for (entry of accordionEntries(); track entry.value.pk) {
    <div ngbAccordionItem [id]="'static-' + $index">
      <!-- Header -->
      <div ngbAccordionHeader class="button-container">
        <button ngbAccordionButton>
          <a class="location-title" [routerLink]="entry.link">
            {{ entry.value.name }}
          </a>
        </button>
      </div>

      <!-- Body -->
      <div ngbAccordionCollapse>
        <div ngbAccordionBody>
          <app-location
            [location]="entry.value"
            [campaignCharacters]="campaignCharacters()"
          />
        </div>
      </div>
    </div>
  }
</div>
