<div class="mb-3 {{field.className}}" [class.d-none]="to.hidden">

  <app-button  
    [class.disabled]="props.disabled" 
    [disabled]="!!props.disabled"
    [type]="buttonType" 
    (click)="onButtonClick($event)"
  >
    <app-icon [icon]="'upload'" class="me-2"></app-icon>
    <span>
      Choose a file
    </span>
    <input 
      #fileInputElement
      type="file" 
      class="d-none"
      (change)="onFileSelect()"
      [formControl]="formControl" 
      [formlyAttributes]="field" 
      [id]="to['name']" 
      [name]="to['name']"
    >
  </app-button>
  <div class="mt-2">
    <div *ngIf="selectedFileName; else noFileSelected"> 
      <span class="me-3"> Currently Selected: </span>
      {{selectedFileName}}
    </div>
  </div>
</div>

<ng-template #noFileSelected>
  No File Selected
</ng-template>