<div class="container list" [class.list--loading]="isUpdatingGlobally()">
  @if (!isUpdatingGlobally()) {
    <!-- Diaryentry - Encounters -->
    <div class="row list__inner">
      @if (state() === "EDIT" && (canCreate() || canUpdate())) {
        <div class="list__buttons list__buttons--first buttons">
          @if (canCreate()) {
            <button
              btn
              class="col-12 col-md-6 col-lg-4 buttons__button buttons__button--left"
              title="Add Encounter to Diaryentry"
              [kind]="'PRIMARY'"
              [size]="'LARGE'"
              [icon]="'plus'"
              [text]="'Add First Encounter'"
              [disabled]="isUpdatingAnything()"
              (click)="addEmptyEncounterAtIndex(-1)"
            ></button>
          }
        </div>
      }

      @for (
        entryEncounter of diaryEntryEncounters();
        track entryEncounter.encounter.title
      ) {
        @let disabled = isUpdatingAnything() || entryEncounter.isUpdating;

        <app-encounter-card
          #encounter
          class="list__encounter"
          [id]="entryEncounter.encounter.title"
          [attr.tabindex]="state() === 'EDIT' ? 0 : null"
          [encounter]="entryEncounter.encounter"
          [characters]="campaignCharacters() ?? []"
          [locations]="campaignLocations() ?? []"
          [serverModel]="encounterServerModel()"
          [canUpdate]="canUpdate()"
          [canDelete]="canDelete()"
          [canCreate]="canCreate()"
          [disabled]="disabled"
          [isUpdating]="entryEncounter.isUpdating"
          [state]="state()"
          [isInFocus]="encounterIndexInFocus() === $index"
          (connectionDelete)="connectionDelete.emit($event)"
          (connectionCreate)="connectionCreate.emit($event)"
          (encounterDelete)="onEncounterDelete($index)"
          (encounterUpdate)="encounterUpdate.emit($event)"
          (encounterCreate)="onEncounterCreate($event)"
          (encounterCreateCancel)="onEncounterCreateCancel($index)"
          (focusin)="setEncounterFocusIndex($index)"
          (focus)="setEncounterFocusIndex($index)"
          (blur)="setEncounterFocusIndex(undefined)"
        ></app-encounter-card>

        <!-- Insert new Encounter -->
        @if (state() === "EDIT" && (canCreate() || canUpdate())) {
          <div class="list__buttons buttons">
            @if (canCreate()) {
              <button
                btn
                class="col-12 col-md-6 col-lg-4 buttons__button buttons__button--left"
                title="Add Encounter to DiaryEntry"
                [kind]="'PRIMARY'"
                [size]="'LARGE'"
                [icon]="'plus'"
                [text]="'Add Encounter'"
                [disabled]="disabled"
                (click)="addEmptyEncounterAtIndex($index)"
              ></button>
            }
          </div>
        }
      }
    </div>
  } @else {
    <ng-container *ngTemplateOutlet="loading" />
  }
</div>

<!-- Loading Spinner -->
<ng-template #loading><app-spinner class="spinner"></app-spinner></ng-template>
