<h4 class="card__heading">
  {{ encounter.title }}
  <app-edit-toggle
    *ngIf="canUpdate" 
    [buttonType]="'DARK'"
    [toggled]="state !== 'DISPLAY'"
    (toggle)="onToggle($event)"
  ></app-edit-toggle>
</h4>

<ng-container [ngSwitch]="state">
  <ng-container
    *ngSwitchCase="'DISPLAY'"
    [ngTemplateOutlet]="encounterDisplayState"
  ></ng-container>
  <ng-container
    *ngSwitchCase="'UPDATE'"
    [ngTemplateOutlet]="encounterUpdateState"
  ></ng-container>
  <ng-container
    *ngSwitchCase="'OUTDATEDUPDATE'"
    [ngTemplateOutlet]="encounterUpdateState"
  ></ng-container>
</ng-container>

<ng-template #encounterDisplayState>
  <!-- Encounter -->
  <div class="card__text">
    <app-html-text [text]="encounter.description"></app-html-text>
  </div>

  <app-separator></app-separator>
  
  <!-- Encounter Connections -->
  <div class="card__connections">
      <app-badge-list
        [entries]="badgeEntries"
        [options]="characters"
        [optionLabelProp]="'name'"
        [optionValueProp]="'pk'"
        [canCreate]="canCreate"
        [canDelete]="canDelete"
        [cancelButtonType]="'DARK'"
        (entryCreate)="onConnectionCreate($event)"
        (entryDelete)="onConnectionDelete($event)"
      ></app-badge-list>
  </div>
  
  <!-- Encounter Footer/Delete Toggle -->
  <ng-container *ngIf="canDelete">
    <app-confirmation-toggle-button
      class="card__delete-confirmer"
      [toggleType]="'DANGER'"
      [confirmationQuestion]="'Delete this encounter?'"
      (confirm)="onEncounterDelete()"
    >
      <app-icon [icon]="'trash'"></app-icon>
    </app-confirmation-toggle-button>
  </ng-container>

</ng-template>

<!-- Form to Update Encounters -->
<ng-template #encounterUpdateState>
    <ng-container *ngIf="canUpdate && state === 'UPDATE'">
        <app-form
          [model]="userModel" 
          [fields]="formlyFields"
          [cancelButtonType]="'DARK'"
          (formlySubmit)="onEncounterUpdate(userModel)" 
          (formlyCancel)="changeState('DISPLAY', undefined)"
        ></app-form>
    </ng-container>

    <ng-container *ngIf="canUpdate && state === 'OUTDATEDUPDATE'">
        <app-compare-form
          [fields]="formlyFields"
          [modelFromUser]="userModel"
          [modelFromServer]="serverModel"
          [displayVertically]="true"
          (updateSubmit)="onEncounterUpdate(userModel)"
          (cancel)="changeState('DISPLAY', undefined)"
        ></app-compare-form>  
    </ng-container>
</ng-template>