@let character = character$();
@let characterQuote = characterQuote$();
@let imageServerModel = imageServerModel$();
@let quoteServerModel = quoteServerModel$();
@let encounterServerModel = encounterServerModel$();

@if (character != null) {
  <app-character
    [character]="character"
    [characterQuote]="characterQuote"
    [campaignCharacters]="campaignCharacters()"
    [campaignOrganizations]="campaignOrganizations()"
    [campaignLocations]="campaignLocations()"
    [serverUrl]="serverUrl"
    [encounters]="campaignEncounters() ?? []"
    [sessions]="campaignSessions() ?? []"
    [quoteServerModel]="quoteServerModel"
    [imageServerModel]="imageServerModel"
    [encounterServerModel]="encounterServerModel"
    [canUpdate]="hasWritePermission$()"
    [canCreate]="hasWritePermission$()"
    [canDelete]="hasWritePermission$()"
    (characterDelete)="onCharacterDelete()"
    (createImage)="onCreateImage($event)"
    (deleteImage)="onDeleteImage($event)"
    (updateImage)="onUpdateImage($event)"
    (quoteCreate)="onCreateQuote($event)"
    (quoteUpdate)="onUpdateQuote($event)"
    (quoteDelete)="onDeleteQuote($event)"
    (quoteConnectionCreate)="onCreateQuoteConnection($event)"
    (quoteConnectionDelete)="onDeleteQuoteConnection($event)"
    (encounterUpdate)="onUpdateEncounter($event)"
    (encounterDelete)="onDeleteEncounter($event)"
    (encounterConnectionCreate)="onCreateEncounterConnection($event)"
    (encounterConnectionDelete)="onDeleteEncounterConnection($event)"
    (refreshQuote)="onRefreshQuote()"
    (organizationMembershipCreate)="store.createMembership($event)"
    (organizationMembershipDelete)="store.deleteMembership($event)"
  ></app-character>
}
