<div class="list">
  <!-- Heading -->
  <div class="list__heading">
    <h4>{{ heading() }}</h4>
    @if (enableCreate()) {
      <app-button
        class="ms-3"
        [title]="'Create ' + heading()"
        [type]="'PRIMARY'"
        [size]="'SMALL'"
        [icon]="'plus'"
        (click)="onCreateButtonClick()"
      ></app-button>
    }
  </div>

  <!-- List -->
  @if (entries() && entries().length > 0) {
    <ul class="list__list">
      @for (entry of entries(); track $index) {
        <li class="list__entry">
          <a [routerLink]="entry.link">
            {{ entry.label }}
          </a>
        </li>
      }
    </ul>
  } @else {
    <div>
      {{ emptyListText() }}
    </div>
  }
</div>
