<!-- Heading -->
@let headingVal = heading();
@if (headingVal) {
  <h4 class="heading">
    <app-html-text [text]="headingVal" />
  </h4>
}

<!-- Text Body -->
<button
  class="field field--display"
  [class.field--hidden]="state() !== 'DISPLAY'"
  (click)="startEdit()"
>
  <app-html-text [text]="text() || placeholder()" />
</button>
<form
  class="field field--update"
  [class.field--hidden]="state() !== 'UPDATE'"
  (submit)="finishEdit()"
>
  <editor
    #editor
    id="editor"
    [init]="settings"
    name="textEditField"
    [(ngModel)]="textModel"
    class="mb-2"
  ></editor>

  <!-- Form Buttons -->
  <ng-container [ngTemplateOutlet]="formButtons" />
</form>
<div
  class="field field--update"
  [class.field--hidden]="state() !== 'OUTDATED_UPDATE'"
>
  <!-- Informating heading -->
  <app-alert [type]="'INFO'">
    <app-icon [icon]="'info-circle'"></app-icon>
    While you were updating this article, somebody else went ahead and updated
    it as well. Please include their changes in your update before submitting.
  </app-alert>

  <!-- Textfield-Form -->
  <div class="flex-column card p-4">
    <!-- Comparison text -->
    <div>
      <h3>Server Version</h3>
      <app-html-text [text]="serverModel()!" />
    </div>

    <app-separator />

    <!-- Actual edit form -->
    <form (submit)="finishEdit()">
      <h3>Your Version</h3>

      <editor
        [init]="settings"
        name="textEditField"
        [(ngModel)]="textModel"
        class="mb-2"
      ></editor>

      <!-- Form Buttons -->
      <ng-container [ngTemplateOutlet]="formButtons" />
    </form>
  </div>
</div>

<ng-template #formButtons>
  <div class="field__buttons">
    <app-button
      [icon]="'times'"
      [text]="'Cancel'"
      [type]="'SECONDARY'"
      (click)="cancelEdit()"
    ></app-button>
    <app-button
      [icon]="'check'"
      [text]="'Submit'"
      [type]="'PRIMARY'"
      [isSubmitButton]="true"
    ></app-button>
  </div>
</ng-template>
