<div class="search" id="search-area">
  <form class="search__form" role="search" (submit)="startSearch()">
    <div
      class="d-flex search__bar"
      [class.search__bar--disabled]="!canSearch()"
    >
      <input
        #searchInput
        class="search__input"
        [class.search__input--disabled]="!canSearch()"
        type="search"
        name="search"
        title="search"
        id="search"
        [disabled]="!canSearch()"
        [(ngModel)]="searchString"
        [placeholder]="_placeholder()"
        [hotkey]="'f'"
        (hotkeyPressed)="searchInput.focus()"
      />

      @let canTriggerSearch = canSearch() && !!searchInput.value;
      <button
        btn
        class="search__button"
        [ariaLabel]="'Start searching for ' + searchInput.value"
        [disabled]="!canTriggerSearch"
        [kind]="canTriggerSearch ? 'PRIMARY' : 'LIGHT-OUTLINE'"
        [icon]="'search'"
      ></button>
    </div>
  </form>
</div>
