<div class="search" id="search-area">
  <form
    class="search__form"
    role="search"
    aria-labelledby="search-label"
    (submit)="startSearch()"
  >
    <div
      class="search__bar"
      [class.search__bar--disabled]="!canSearch()"
      [class.search__bar--active]="searchInput.value"
    >
      <label class="search__label" for="search" id="search-label">
        {{ _placeholder() }}
      </label>
      <input
        #searchInput
        class="search__input"
        [class.search__input--disabled]="!canSearch()"
        type="search"
        name="search"
        id="search"
        [disabled]="!canSearch()"
        [(ngModel)]="searchString"
        [hotkey]="'f'"
        (hotkeyPressed)="searchInput.focus()"
      />

      @let canTriggerSearch = canSearch() && !!searchInput.value;
      <button
        btn
        class="search__button"
        [attr.aria-label]="'Search for ' + searchInput.value"
        [disabled]="!canTriggerSearch"
        [kind]="canTriggerSearch ? 'PRIMARY' : 'LIGHT-OUTLINE'"
        [icon]="'search'"
        [type]="'submit'"
      ></button>
    </div>
  </form>
</div>
