/* SEARCHBAR CSS */

// Remove "blue x" from chrome searchbar styling
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

.search {
  margin-bottom: var(--spacer-4);

  &__form {
    flex: 1;
  }

  &__bar {
    display: flex;
    align-items: center;
    background-color: var(--bs-gray-800);
    padding-left: var(--spacer-2);
    border-color: var(--bs-white);
    border: solid 2px var(--bs-white);
    border-radius: var(--bs-border-radius);
    position: relative;

    &--active,
    &:focus,
    &:focus-within {
      border-color: var(--bs-link-hover-color);

      .search__label {
        font-size: 13px;
        top: 0px;
      }
    }

    &--disabled {
      cursor: not-allowed;
    }

    .search__label {
      transition: top 0.2s ease-in-out;
      transition: font-size 0.2s ease-in-out;
      position: absolute;
      left: var(--spacer-2);
    }
  }

  &__input {
    background-color: var(--bs-gray-800);
    border: none;
    outline: none;
    width: 100%;
    padding: var(--spacer-3) var(--spacer-2) var(--spacer-2) var(--spacer-1);
    color: var(--bs-white);

    &--disabled {
      cursor: not-allowed;
    }
  }

  &__button {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    padding: var(--spacer-3);

    &--disabled {
      cursor: not-allowed;
    }
  }
}
