<button 
  class="btn" 
  [disabled]="disabled"
  [ngClass]="{
    'btn-primary': type === 'PRIMARY',
    'btn-secondary': type === 'SECONDARY',
    'btn-dark': type === 'DARK',
    'btn-danger': type === 'DANGER',
    'btn-warning': type === 'WARNING',
    'btn-light': type === 'LIGHT',
    'btn-info': type === 'INFO',
    
    'btn-sm': size === 'SMALL',
    'btn-lg': size === 'LARGE',
    'btn-disabled': disabled,
  }"
>
  <ng-container *ngIf="icon">
    <app-icon [class.btn__icon]="text" [icon]="icon"></app-icon>
  </ng-container>
  {{text}}
</button>