.heading{
  text-align: center;
  
  &__player-class-badge{
    cursor: pointer;
    margin-left: var(--spacer-1);
    margin-right: var(--spacer-1);
    
    &:hover{
      color: var(--bs-link-hover-color);
    }
  }
}

.back-link{
  width: fit-content;
  display: inline-block;
}