<div class="footer">
  <ng-container
    [ngTemplateOutlet]="buttonLink() ? linkButton : nonLinkButton"
  />

  @if (showDelete()) {
    <app-confirmation-toggle-button
      [toggleType]="'DANGER'"
      [confirmationQuestion]="deleteMessage()"
      [icon]="'trash'"
      (confirm)="delete.emit()"
    ></app-confirmation-toggle-button>
  }
</div>

<ng-template #linkButton>
  <a [routerLink]="buttonLink()" (click)="buttonClick.emit()" [tabIndex]="-1">
    <app-button [type]="'SECONDARY'" [text]="buttonLabel()"></app-button>
  </a>
</ng-template>

<ng-template #nonLinkButton>
  <app-button
    [type]="'SECONDARY'"
    [text]="buttonLabel()"
    (click)="buttonClick.emit()"
  ></app-button>
</ng-template>
