<div class="encounter-list mb-5 mt-3">
  <div ngbAccordion [closeOthers]="true" [animation]="true">
    <ng-container *ngFor="let encounter of encounters; let i = index">
      <div ngbAccordionItem [id]="'static-' + i">
        <div ngbAccordionHeader>
          <div ngbAccordionButton class="panel-title">
            <strong
              class="encounter-title"
              [innerHTML]="encounter.name"
            ></strong>
          </div>
        </div>

        <div ngbAccordionCollapse>
          <div ngbAccordionBody>
            <app-encounter
              class="panel-content"
              [encounter]="encounter"
              [characters]="campaignCharacters"
              [serverModel]="serverModel"
              [canUpdate]="canUpdate"
              [canDelete]="canDelete"
              [canCreate]="canCreate"
              (connectionDelete)="connectionDelete.emit($event)"
              (connectionCreate)="connectionCreate.emit($event)"
              (encounterDelete)="encounterDelete.emit($event)"
              (encounterUpdate)="encounterUpdate.emit($event)"
            ></app-encounter>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
