.panel-title{
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  .encounter-title,
  .icon{
    transition: color 0.2s;
    color: var(--bs-white);
  }
  
  &:hover{
    .encounter-title, 
    .icon{
      color: var(--bs-grey);
    }
  }
}

.encounter-title{
  color: var(--bs-white);
  width: 100%;
}

