<div class="badge-container">
  @if (textLink) {
    <a
      [routerLink]="textLink"
      class="badge"
      [ngClass]="{
        'badge--part1': icon,
        'bg-primary': type === 'PRIMARY',
        'bg-secondary': type === 'SECONDARY',
        'bg-dark': type === 'DARK',
        'bg-danger': type === 'DANGER',
        'bg-warning': type === 'WARNING',
        'bg-info': type === 'INFO',
        'bg-light': type === 'LIGHT',
      }"
    >
      {{ text }}
    </a>
  } @else {
    <button
      (click)="labelClick.emit()"
      class="badge"
      [ngClass]="{
        'badge--part1': icon,
        'bg-primary': type === 'PRIMARY',
        'bg-secondary': type === 'SECONDARY',
        'bg-dark': type === 'DARK',
        'bg-danger': type === 'DANGER',
        'bg-warning': type === 'WARNING',
        'bg-info': type === 'INFO',
        'bg-light': type === 'LIGHT',
      }"
    >
      {{ text }}
    </button>
  }

  @if (icon) {
    <button
      (click)="iconClick.emit()"
      tabindex=""
      class="badge badge--part2"
      [ngClass]="{
        'bg-primary': iconType === 'PRIMARY',
        'bg-secondary': iconType === 'SECONDARY',
        'bg-dark': iconType === 'DARK',
        'bg-danger': iconType === 'DANGER',
        'bg-warning': iconType === 'WARNING',
        'bg-info': iconType === 'INFO',
        'bg-light': iconType === 'LIGHT',
      }"
    >
      <app-icon [icon]="icon" />
    </button>
  }
</div>
