<div class="card" #panel>
  <button class="card__button" (click)="togglePanel()">
    <h5 class="card__heading">
      <span class="card__heading-text">
        <ng-content select="[heading]"></ng-content>
      </span>

      <app-icon
        class="card__heading-icon"
        [icon]="_isOpen ? 'chevron-up' : 'chevron-down'"
      ></app-icon>
    </h5>
  </button>

  <div class="card__body" [ngbCollapse]="!_isOpen">
    <app-separator></app-separator>
    <ng-content select="[body]"></ng-content>
  </div>
</div>
