<div class="mb-3" [ngClass]="{'d-none': to.hidden}">
  <label for="datepicker">
      <strong>
          {{to.label}}
          <ng-container *ngIf="to.required">*</ng-container>
      </strong>
  </label>

  <div class="input-group">
      <input
      class="form-control" 
      placeholder="yyyy-mm-dd" 
      name="datepicker" 
      [formControl]="formControl" 
      [formlyAttributes]="field" 
      ngbDatepicker 
      #datepickerInput="ngbDatepicker"
      type="text"
      >
      <div class="btn btn-outline-light highlight" (click)="datepickerInput.toggle()">
        <app-icon [icon]="'calendar'"></app-icon>
      </div>
  </div>
</div>


<ng-template #customDay let-date>
  <app-button class="datepicker-day" [type]="'LIGHT'">
    {{ date.day }}
  </app-button>
</ng-template>