<app-confirmation-modal
  [modalType]="'DANGER'"
  [heading]="confirmationQuestion()"
  [confirmValue]="null"
  [submitIcon]="icon()"
  [submitButtonLabel]="'Yes'"
  [cancelButtonLabel]="'No'"
  [cancelButtonType]="cancelButtonType()"
  (confirm)="emitConfirmation()"
>
  <button
    btn
    opener
    #toggleButton
    class="confirmation-toggle"
    [attr.aria-label]="
      'Toggle delete confirmation button as per this question: ' +
      confirmationQuestion()
    "
    [kind]="toggleType()"
    [icon]="icon()"
    [size]="toggleSize()"
    [text]="text()"
    [hotkey]="'d'"
    [disabledHotkey]="!enableHotkey()"
    (hotkeyPressed)="$event.host.click()"
  ></button>
</app-confirmation-modal>
