<div class="card" [class.card--active]="inFocus()" data-register-focus>
  @if (currentImage()) {
    <div class="card__img-container">
      <a class="card__img-link" [routerLink]="link()">
        <img
          class="card-img-top"
          [src]="serverUrl() + currentImage()"
          [alt]="alt()"
        />
      </a>

      <button
        class="card__img-close-btn"
        btn
        [kind]="'NONE'"
        [icon]="inFocus() ? 'xmark' : 'expand'"
        (click)="
          inFocus()
            ? closeBtnClicked$.next($event)
            : openBtnClicked$.next($event)
        "
        data-ignore-click="true"
      ></button>
    </div>
  }
  <div class="card-body">
    @if (imageUrls().length > 1) {
      <div class="card__img-selectors" (click)="$event.preventDefault()">
        @for (_ of imageUrls(); track $index) {
          <button
            class="card__img-selector"
            [class.card__img-selector--active]="$index === currentImageIndex()"
            (click)="selectorClicked$.next({ index: $index, event: $event })"
          >
            {{ $index + 1 }}
          </button>
        }
      </div>
    }
    <a class="card__title-link" [routerLink]="link()">
      <h5 class="card-title">
        {{ text() }}
      </h5>
    </a>
  </div>
</div>
