<app-page-container>
  <article class="container diarentry">
    @if (canUpdate()) {
      <div class="diaryentry__edit-row edit-row">
        <div class="edit-row__edit-container edit-container">
          <a
            btn
            #editDiaryentryLink
            class="edit-container__button"
            aria-label="Edit Diaryentry"
            title="Edit Diaryentry"
            [routerLink]="updateUrl()"
            [icon]="'pencil'"
            [kind]="'SECONDARY'"
            [hotkey]="'e'"
            [disabledHotkey]="state() !== 'DISPLAY'"
            (hotkeyPressed)="$event.host.click()"
          >
          </a>
          <button
            btn
            class="edit-container__button"
            [kind]="'SECONDARY'"
            [icon]="state() === 'DISPLAY' ? 'pencil' : 'times'"
            [text]="
              state() === 'DISPLAY' ? 'Edit Encounters' : 'Read Diaryentry'
            "
            [hotkey]="'r'"
            (hotkeyPressed)="toggleState()"
            (click)="toggleState()"
          ></button>
        </div>
      </div>
    }

    <!-- Heading -->
    <div class="row">
      <h1 class="col-12 diaryentry__heading">
        Diary Entry # {{ diaryentry().session_details?.session_number }} <br />
        {{ diaryentry().title }}
      </h1>
      <h2 class="col-12 fs-6 fw-normal diaryentry__subheading">
        Written by: {{ diaryentry().author_details?.name }} <br />
        on {{ diaryentry().session_details?.session_date | date: "longDate" }}
      </h2>
    </div>

    @if (canUpdate() && state() === "EDIT") {
      <h3 class="fs-2">Contents</h3>
      <app-drag-and-drop-list
        class="diaryentry__contents"
        [entries]="sortedEncounters()"
        [labelProp]="'title'"
        [idProp]="'pk'"
        [isUpdating]="isUpdatingEncounters()"
        (changed)="rearrangeEncounters($event)"
        (swapEntries)="swapEncounters($event)"
      />
    }

    @if (state() === "DISPLAY") {
      <!-- Next/Prior Diaryentry Buttons -->
      <ng-container *ngTemplateOutlet="navButtons" />
    }

    @if (state() === "EDIT") {
      <h3 class="fs-2">Encounters</h3>
    }

    <!-- DiaryEntry Text In Encounters -->
    <app-diaryentry-encounters
      [state]="state() === 'DISPLAY' ? 'READ' : 'EDIT'"
      (connectionDelete)="encounterConnectionDelete.emit($event)"
      (connectionCreate)="encounterConnectionCreate.emit($event)"
      (encounterDelete)="encounterDelete.emit($event)"
      (encounterUpdate)="encounterUpdate.emit($event)"
      (encounterCreate)="encounterCreate.emit($event)"
      (encounterCutInsert)="encounterCutInsert.emit($event)"
      (addUnfinishedEncounter)="addUnfinishedEncounter.emit($event)"
    ></app-diaryentry-encounters>

    @if (state() === "DISPLAY") {
      <!-- Next/Prior Diaryentry Buttons -->
      <ng-container *ngTemplateOutlet="navButtons" />
    }

    <!-- Footer (Move to other Article + Delete Article) -->
    <app-article-footer
      [buttonLink]="overviewUrl()"
      [buttonLabel]="'Back to Diaryentries'"
      [showDelete]="canDelete()"
      [deleteMessage]="'Delete this Diaryentry?'"
      (delete)="diaryentryDelete.emit(diaryentry())"
    ></app-article-footer>
  </article>
</app-page-container>

<ng-template #navButtons>
  <!-- Next/Prior Diaryentry Buttons -->
  <div class="row diaryentry__nav-buttons nav-buttons">
    <!-- Next Diaryentry -->
    <div class="col-xl-2 col-lg-3 col-md-4 col-5 nav-buttons__button-container">
      @if (diaryentry().adjacent_diaryentries.next_diaryentry) {
        <a
          btn
          class="nav-buttons__button nav-buttons__button--left"
          [routerLink]="nextDiaryentryUrl()"
          [text]="'Next'"
          [icon]="'arrow-left'"
          [kind]="'SECONDARY'"
        >
        </a>
      }
    </div>

    <!-- Prior Diaryentry -->
    <div class="col-xl-2 col-lg-3 col-md-4 col-5 nav-buttons__button-container">
      @if (diaryentry().adjacent_diaryentries.prior_diaryentry) {
        <a
          btn
          class="nav-buttons__button nav-buttons__button--right"
          [routerLink]="priorDiaryentryUrl()"
          [text]="'Back'"
          [icon]="'arrow-right'"
          [kind]="'SECONDARY'"
        >
        </a>
      }
    </div>
  </div>
</ng-template>
