<app-page-container>
  <article class="container">
    <ng-container *ngIf="canUpdate">
      <div class="location__edit-container">
        <a [routerLink]="updateUrl">
          <app-button
            [icon]="'pencil'"
            [type]="'SECONDARY'"
          ></app-button>
        </a>
      </div>
    </ng-container>
  
    <!-- Heading -->
    <div class="row">
      <h1 class="col-12 location__heading"> 
        {{ location.name }} 
      </h1>
  
      <!-- String indicating all parent_locations -->
      <ng-container *ngIf="location.parent_location_list?.length ?? 0 > 0">
        <h5 class="col-12 location__subheading subheading">
          <ng-container *ngFor="let parentLocation of parentLocations; let i = index">
            <a [routerLink]="parentLocation.link">
              {{ parentLocation.label }}
            </a>
            <app-icon
              class="subheading__icon"
              [icon]="'arrow-right'"
            ></app-icon>
          </ng-container>
          {{ location.name }}
        </h5>
      </ng-container>
  
    </div>
  
  <!-- Image Gallery -->
  <div class="location__images">
    <!-- Image Gallery -->
    <app-image-carousel-card
      [images]="location.images ?? []"
      [serverUrl]="serverUrl"
      [serverModel]="imageServerModel"
      [canUpdate]="canUpdate"
      [canCreate]="canCreate"
      [canDelete]="canDelete"
      (createImage)="createImage.emit($event)"
      (deleteImage)="deleteImage.emit($event)"
      (updateImage)="updateImage.emit($event)"
    ></app-image-carousel-card>
  </div>
  
    <div class="mb-3">
      <app-badge-list
        [entries]="markerEntries"
        [canCreate]="canCreate"
        [canDelete]="false"
        [label]="'Mapmarker'"
        [createOptions]="markerCreateUrl"
      ></app-badge-list>
    </div>
  
    <!-- Description -->
    <div class="location__description">
      <h4> Description </h4>
      <app-html-text
        [text]="location.description"
      ></app-html-text>
    </div>
  
    <!-- Characters of Interest -->
    <div class="location__characters">
      <app-list
        [heading]="'Characters of interest'"
        [entries]="locationCharacters"
        [enableCreate]="canCreate"
        [emptyListText]="'You know nobody in ' + location.name"
        (create)="routeToCharacterCreation()"
      ></app-list>
    </div>
  
  
    <!-- Locations of Interest -->
    <div class="encounter-list mb-5 mt-3">
      <app-location-accordion 
        [locations]="location.sublocations ?? []"
        [canCreate]="canCreate"
      ></app-location-accordion>
    </div>
  
    <!-- Footer (Move to other Article + Delete Article) -->
    <app-article-footer
      [buttonLink]="overviewUrl"
      [buttonLabel]="'Back to Creatures'"
      [showDelete]="canDelete"
      [deleteMessage]="'Delete ' + location.name + '?'"
      (delete)="locationDelete.emit(location)"
    ></app-article-footer>
    
  </article>
</app-page-container>