<article class="container home">
  <!-- Heading -->
  <header class="home__heading-container heading-container">
    <img class="heading-container__icon"
      [src]="serverUrl + campaignData.icon" 
      [alt]="DEFAULT_ICON"
    />
    
    <h1 class="heading-container__heading"> 
      {{campaignData.name}} 
    </h1>
    
    <app-html-text
      class="heading-container__subheading" 
      [text]="campaignData.subtitle"
    ></app-html-text>
  </header>
  
  <!-- Search Bar -->
  <app-search-field
    [placeholder]="'Search for Articles...'"
    (search)="search.emit($event)"
  ></app-search-field>

  <!-- News -->
  <app-icon-card-list
    [articles]="articleEntries"
    (reachEndOfList)="loadArticlePage.emit($event)"
  ></app-icon-card-list>
</article>