:host {
  align-items: center;
}

.form-check-input {
  min-height: var(--spacer-4);
  min-width: var(--spacer-5);
  margin-right: var(--spacer-2);
  margin-top: unset;

  &:focus-visible {
    outline: var(--focus-outline);
  }
}
