<div #toggleElement>
  <ng-container *ngIf="isActive; then activeToggle; else inactiveToggle"></ng-container>
</div>

<ng-template #inactiveToggle>
  <app-button (click)="toggle()" [type]="toggleType">
    <ng-content></ng-content>
  </app-button>
</ng-template>

<ng-template #activeToggle>
  <div class="confirmation confirmation--{{toggleType}}">
    <div class="confirmation__question"> 
      <strong>{{confirmationQuestion}}</strong> 
    </div>  
    <div class="confirmation__buttons">
      <app-button [type]="toggleType" (click)="emitConfirmation()"> Yes </app-button>
      <app-button [type]="cancelButtonType" (click)="toggle()"> No </app-button>
    </div>
  </div>
</ng-template>
