@if (options && options.length > 0) {
  @switch (state) {
    @case ("DISPLAY") {
      <ng-container [ngTemplateOutlet]="displayState" />
    }
    @case ("CREATE") {
      <ng-container [ngTemplateOutlet]="createState" />
    }
  }
}

<ng-template #displayState>
  <app-badge
    class="display-form"
    [type]="'PRIMARY'"
    [icon]="'plus'"
    [text]="badgeText"
    [clickable]="true"
    (badgeClick)="changeState('CREATE')"
  ></app-badge>
</ng-template>

<ng-template #createState>
  <form class="form">
    <select
      class="form-select"
      style="width: unset"
      [name]="selectFieldName()"
      [id]="'select'"
      (change)="onChange($event)"
    >
      <option [value]="undefined">-----</option>
      @for (option of options; track option) {
        <option
          [value]="$index"
          [attr.selected]="
            option[valueProp] === userModel[valueProp] ? true : null
          "
          [attr.disabled]="isDisabledFunction(option) ? true : null"
        >
          {{ option[labelProp()] }}
        </option>
      }
    </select>

    <!-- Cancel Button -->
    <app-button
      class="mx-2"
      [type]="cancelButtonType"
      [size]="'SMALL'"
      [icon]="'times'"
      (click)="onCancel()"
    ></app-button>

    <!-- Submit Button -->
    <app-button
      [type]="submitButtonType"
      [size]="'SMALL'"
      [icon]="'check'"
      [isSubmitButton]="true"
      (click)="onSubmit()"
    ></app-button>
  </form>
</ng-template>
