@import 'bootstrap/scss/bootstrap';

$xxlarge-screen: map-get($grid-breakpoints, xxl);
$xlarge-screen: map-get($grid-breakpoints, xl);
$large-screen: map-get($grid-breakpoints, lg);
$medium-screen: map-get($grid-breakpoints, md);
$small-screen: map-get($grid-breakpoints, sm);
$xsmall-screen: 326px;