@import './custom_bootstrap.scss';
@import 'bootstrap/scss/bootstrap'; //Must be imported after custom_bootstrap so that values from custom_bootstrap are available for overriding
@import './variables.scss';

.highlight{
	background-color: var(--highlight-gray);
}

.hover-highlight{
	transition: 0.2s background-color;
}

.pointer{
  cursor: pointer;
}

@media (hover: hover) and (pointer: fine) {
	.hover-highlight:hover{
		background-color: var(--highlight-gray);
	}
}

h1, h2, h3, h4, h5, h6 {
	color: #ffffff;
	font-weight: bold!important;
	line-height: 1.5;
	margin: 0 0 1rem 0;
	text-transform: uppercase;
	letter-spacing: 0.05rem;
}


h1{
	letter-spacing: 0.5rem!important;
	font-size: 2.25rem!important;
	line-height: 1.3!important;
}

h2{
	letter-spacing: 0.2rem!important;
	font-size: 1.5rem!important;
}

blockquote{
	border-left: solid 4px var(--bs-white);
	font-style: italic;
	margin: var(--spacer-0);
	padding: var(--spacer-2) var(--spacer-0) var(--spacer-1) var(--spacer-4);
}

@import './custom_ngbootstrap.scss';

@import './global_class_modifications.scss';

@import './custom_leaflet.scss';