@import './custom_bootstrap.scss';
@import 'bootstrap/scss/bootstrap'; //Must be imported after custom_bootstrap so that values from custom_bootstrap are available for overriding
@import './variables.scss';

.highlight{
	background-color: var(--highlight-gray);
}

.hover-highlight{
	transition: 0.2s background-color;
}

.pointer{
  cursor: pointer;
}

@media (hover: hover) and (pointer: fine) {
	.hover-highlight:hover{
		background-color: var(--highlight-gray);
	}
}