<div class="container list">  
  <ng-container *ngIf="canCreate">
    <div class="row list__button">
      <app-button
        [type]="'PRIMARY'"
        [text]="'Add Spell'"
        [icon]="'plus'"
        (click)="addSpell()"
      ></app-button>
    </div>
  </ng-container>

  <div class="row">
    <ng-container *ngFor="let card of spellCards; let i = index">
      <div class="list__spell-card spell-card">
        <app-collapsible-panel 
          [heading]="card.spell.name ?? ''" 
          [isOpen]="card.isOpen"
          [ngClass]="{
            'animate__animated animate__zoomIn': card.spell.pk == null
          }"
        > 
          <app-spell
            body
            class="spell-card__spell"
            [spell]="card.spell"
            [serverModel]="serverModel"
            [canUpdate]="canUpdate"
            [canDelete]="canDelete"
            [canCreate]="canCreate"
            [cancelButtonType]="'DARK'"
            (spellDelete)="onSpellDelete($event, i)"
            (spellCreate)="spellCreate.emit($event)"
            (spellUpdate)="spellUpdate.emit($event)"
            (spellCreateCancel)="removeSpell(i)"
          ></app-spell>
        </app-collapsible-panel>
      </div>
    </ng-container>
  </div>
</div>


<!-- Loading Spinner -->
<ng-template #loading><app-spinner></app-spinner></ng-template>
