<div class="container">
  <div class="row">
    <ng-container *ngFor="let article of articles">
      <div class="entry col-6 col-lg-4 col-xl-3">
        <a
          class="entry__link"
          [routerLink]="article.link" 
          [title]="article.entryType | titlecase"
        >
          <app-icon-card
            [icon]="article.icon"
            [title]="article.title"
            [subText]="article.subText"
            [updateDatetime]="article.updateDatetime"
          ></app-icon-card>
        </a>
      </div>
    </ng-container>
  </div>
</div>