:host {
  --bs-tooltip-zindex: 1080;
  --bs-tooltip-max-width: 200px;
  --bs-tooltip-padding-x: 0.5rem;
  --bs-tooltip-padding-y: 0.25rem;
  --bs-tooltip-font-size: 0.825rem;
  --bs-tooltip-color: #fff;
  --bs-tooltip-bg: #fff;
  --bs-tooltip-border-radius: var(--bs-border-radius);
  --bs-tooltip-opacity: 0.9;
  --bs-tooltip-arrow-width: 0.8rem;
  --bs-tooltip-arrow-height: 0.4rem;
}

.tooltip-container {
  position: relative;

  &__my-tooltip {
  }
}

.my-tooltip {
  font-family: var(--bs-font-sans-serif);
  font-size: var(--bs-tooltip-font-size);
  position: absolute;
  top: var(--spacer-2);

  &__inner {
    --bs-tooltip-bg: var(--bs-info-bg-subtle);
    --bs-tooltip-color: var(--bs-emphasis-color);
    max-width: var(--bs-tooltip-max-width);
    padding: var(--bs-tooltip-padding-y) var(--bs-tooltip-padding-x);
    color: var(--bs-tooltip-color) !important;
    text-align: center;
    background-color: var(--bs-tooltip-bg);
    border-radius: var(--bs-tooltip-border-radius);
  }

  &__arrow {
    display: block;
    width: var(--bs-tooltip-arrow-width);
    height: var(--bs-tooltip-arrow-height);

    &::before {
      position: absolute;
      content: "";
      border-color: transparent;
      border-style: solid;
    }
  }
}
