<button
  class="btn"
  [disabled]="disabled"
  [ngClass]="{
    'btn-primary': type === 'PRIMARY' && !outline,
    'btn-secondary': type === 'SECONDARY' && !outline,
    'btn-dark': type === 'DARK' && !outline,
    'btn-danger': type === 'DANGER' && !outline,
    'btn-warning': type === 'WARNING' && !outline,
    'btn-light': type === 'LIGHT' && !outline,
    'btn-info': type === 'INFO' && !outline,
    'btn-outline-primary': type === 'PRIMARY' && outline,
    'btn-outline-secondary': type === 'SECONDARY' && outline,
    'btn-outline-dark': type === 'DARK' && outline,
    'btn-outline-danger': type === 'DANGER' && outline,
    'btn-outline-warning': type === 'WARNING' && outline,
    'btn-outline-light': type === 'LIGHT' && outline,
    'btn-outline-info': type === 'INFO' && outline,

    'btn-disabled': disabled,
  }"
>
  <app-icon class="btn-icon" [icon]="iconName()"></app-icon>
</button>
