@if (!isLoadingQuote()) {
  <div class="field">
    @let quoteVal = quote();
    @if (quoteVal) {
      <blockquote class="field__content quote">
        <!-- Quote -->
        <app-html-text class="quote__text" [text]="quoteVal.quote" />

        <!-- Quote Description -->
        <div class="quote__description">
          @if (quoteVal.description) {
            <app-html-text [text]="'- ' + quoteVal.description" />
          }

          @if (!quoteVal.description) {
            - {{ character().name }}
          }
        </div>

        <app-separator></app-separator>

        <!-- Quote Connections -->
        <div class="quote__connections d-inline icon-container">
          <app-badge-list
            [entries]="badgeEntries()"
            [label]="'Characters'"
            [createOptions]="{
              kind: 'SELECT',
              config: {
                options: campaignCharacters(),
                labelProp: 'name',
                valueProp: 'pk',
              },
            }"
            [canCreate]="canCreate()"
            [canDelete]="canDelete()"
            [cancelButtonType]="'DARK'"
            (entryCreate)="onConnectionCreate($event)"
            (entryDelete)="onConnectionDelete($event)"
          ></app-badge-list>
        </div>
      </blockquote>
    }

    <!-- Quote Refresh/Create/Edit/Delete Icons -->
    <div class="field__controls">
      @for (control of quoteControlls(); track $index) {
        @switch (control.config.kind) {
          @case ("CLICK") {
            <button
              btn
              class="field__control"
              [attr.aria-label]="control.title"
              [title]="control.title"
              [kind]="control.type"
              [text]="control.label"
              [icon]="control.icon"
              (click)="control.config.onClick()"
            ></button>
          }
          @case ("LINK") {
            <a [routerLink]="control.config.link" tabindex="-1">
              <button
                btn
                class="field__control"
                [attr.aria-label]="control.title"
                [title]="control.title"
                [kind]="control.type"
                [text]="control.label"
                [icon]="control.icon"
              ></button>
            </a>
          }
        }
      }
    </div>
  </div>
}

<ng-template #loading>
  <app-spinner></app-spinner>
</ng-template>
