<div class="container">
  <div class="row">
    <ng-container *ngFor="let option of sidebarEntries; let index = index">
        <div class="col-6 col-sm-3 row-entry" 
          [ngClass]="{
              'hover-highlight pointer': interactable, 
              'highlight': option.active,
          }"
          (click)="onSidebarEntryClick(index)"
        >
            <div class="sidebar-border" [style]="'border-left-color: var(' + option.color + ')'">
                <span class="mx-1"> {{option.label}} </span>
            </div>
            
            <app-icon *ngIf="option.active" [icon]="'times'"></app-icon>
        </div>
    </ng-container>
  </div>  
</div>
