<app-page-container>
  <article class="container">
    <h1 class="text-center mb-3">Wiki Overview</h1>
    <div class="row mb-3">
      @for (option of categories(); track option.label) {
        <app-selectable-entry
          class="col-6 col-sm-3 row-entry"
          [label]="option.label"
          [borderColorVar]="option.color"
          [isActive]="option.active"
          [isSelectable]="true"
          (entryClick)="toggleSidebarEntry(option, $event)"
        ></app-selectable-entry>
      }
    </div>

    @let graph = graphData();
    @if (graph) {
      <app-search-field
        [placeholder]="'Search for an article node'"
        [btnAriaLabel]="
          'Searches for an article node in the graph and centers it if it can find one'
        "
        (appSearch)="nodeQuery.set($event)"
      ></app-search-field>

      <div class="row mb-3">
        <app-graph
          class="col-12"
          [data]="graph"
          [activeNodesData]="selectedNodes()"
          [centeredNodeData]="searchedNode()"
          (nodeSelectionChanged)="selectedNodes.set($event)"
        />
      </div>
      <div class="row mb-3">
        <div
          class="d-flex col-md-6 col-12 justify-content-start align-items-center row-gap-3"
          [class.fw-light]="!firstSelectedNode()"
        >
          <span class="fs-5 me-3"> 1st Node: </span>
          {{ firstSelectedNode()?.record?.name ?? "None" }}
        </div>
        <div
          class="d-flex col-md-6 col-12 justify-content-start align-items-center"
          [class.fw-light]="!secondSelectedNode()"
        >
          <span class="fs-5 me-3"> 2nd Node: </span>
          {{ secondSelectedNode()?.record?.name ?? "None" }}
        </div>
      </div>
      @switch (pageState()) {
        @case ("DISPLAY") {
          <ng-container *ngTemplateOutlet="display" />
        }
        @case ("CREATE") {
          <ng-container *ngTemplateOutlet="create" />
        }
      }
    }

    <app-article-footer
      class="d-block mt-5"
      [buttonLabel]="'Back to Frontpage'"
      [buttonLink]="homeUrl()"
      [showDelete]="false"
    ></app-article-footer>
  </article>
</app-page-container>

<ng-template #create>
  <app-card>
    <h2 class="fs-3 mb-3">Create Connection</h2>
    <div class="border border-info rounded p-3 mb-2">
      <div class="fw-bold fs-5 mb-1">Connection-Preview:</div>
      {{ formTitle() }}
    </div>

    <app-form
      [fields]="formlyFields()"
      [model]="userModel()"
      [cancelButtonType]="'DARK'"
      [isLoading]="store.createLinkState() === 'loading'"
      (formlyCancel)="pageState.set('DISPLAY')"
      (formlySubmit)="onCreateConnection($event)"
      (formChange)="createLabel.set($event.label || EMPTY_LABEL)"
    ></app-form>
  </app-card>
</ng-template>

<ng-template #display>
  @let isButtonDisabled = !firstSelectedNode() || !secondSelectedNode();
  <span
    [ngbTooltip]="
      isButtonDisabled
        ? 'Select 2 nodes by clicking on them to create a custom connection!'
        : null
    "
  >
    <button
      btn
      [kind]="'PRIMARY'"
      [disabled]="isButtonDisabled"
      [text]="'Connect!'"
      [icon]="'link'"
      (click)="this.pageState.set('CREATE')"
    ></button>
  </span>

  <app-collapsible-panel class="d-block mt-5" [isOpen]="isPanelOpen()">
    <ng-container heading> Custom Links </ng-container>
    <ng-container body>
      @for (item of store.customLinks(); track item.link.id) {
        <div class="w-100 d-flex justify-content-between">
          {{ item.label }}

          <app-confirmation-toggle-button
            class="user-group__remove-button"
            [icon]="'trash'"
            [toggleSize]="'SMALL'"
            [confirmationQuestion]="'Delete link?'"
            (confirm)="store.deleteConnection(item.link.id)"
          ></app-confirmation-toggle-button>
        </div>
      }
    </ng-container>
  </app-collapsible-panel>
</ng-template>
