<article class="container">
  <ng-container *ngIf="canUpdate">
    <div class="item__edit-container">
      <a [routerLink]="updateUrl">
        <app-button
          [icon]="'pencil'"
          [type]="'SECONDARY'"
        ></app-button>
      </a>
    </div>
  </ng-container>

    <!-- Heading -->
    <div class="row">
      <h1 class="col-12 item__heading"> 
        {{ item.name }} 
      </h1>
      
      <ng-container *ngIf="item.owner_details">
        <p class="text-center col mb-5"> 
            Owned by: 
            <strong>
                <a [routerLink]="ownerUrl">
                    {{ item.owner_details.name }}
                </a>
            </strong>
        </p>
    </ng-container>
  </div>



  <!-- Image Gallery -->
  <div class="item__images">
    <app-image-carousel-card
      [images]="item.images ?? []"
      [serverUrl]="serverUrl"
      [serverModel]="imageServerModel"
      [canUpdate]="canUpdate"
      [canCreate]="canCreate"
      [canDelete]="canDelete"
      (createImage)="createImage.emit($event)"
      (deleteImage)="deleteImage.emit($event)"
      (updateImage)="updateImage.emit($event)"
    ></app-image-carousel-card>
  </div>

  <!-- Description -->
  <div class="item__description">
    <h4> Description </h4>
    <app-html-text
      [text]="item.description"
    ></app-html-text>
  </div>

  <!-- Footer (Move to other Article + Delete Article) -->
  <app-article-footer
    [buttonLink]="overviewUrl"
    [buttonLabel]="'Back to Items'"
    [showDelete]="canDelete"
    [deleteMessage]="'Delete ' + item.name + '?'"
    (delete)="itemDelete.emit(item)"
  ></app-article-footer>
</article>
