<app-page-container>
  <article>
    <h1 class="heading">Sessions</h1>

    <app-sessions
      [sessions]="sessions()"
      [serverModel]="serverModel()"
      [campaignId]="campaignId()"
      [canCreate]="canCreate()"
      [canUpdate]="canUpdate()"
      [canDelete]="canDelete()"
      (sessionDelete)="sessionDelete.emit($event)"
      (sessionCreate)="sessionCreate.emit($event)"
      (sessionUpdate)="sessionUpdate.emit($event)"
    ></app-sessions>

    <div class="container">
      <a class="row back-link" [routerLink]="homeUrl()">
        <app-button
          [type]="'SECONDARY'"
          [text]="'Back to Frontpage'"
        ></app-button>
      </a>
    </div>
  </article>
</app-page-container>
