<form 
  [formGroup]="form" 
  [enctype]="enctype" 
  (submit)="onSubmit()"
>
  <formly-form 
    [form]="form" 
    [fields]="usedFields" 
    [model]="model"
  ></formly-form>
  
  <ng-container *ngIf="!disabled && enableSubmitButtons">
    <div class="mt-5">
      <!-- Cancel Button -->
      <app-button 
        class="me-3" 
        [type]="cancelButtonType"
        (click)="onCancel()"
      >
        Cancel
      </app-button>
        
        <!-- Submit Button -->
        <ng-container 
          *ngIf="form.valid; 
            then activeSubmitButton; 
            else inactiveSubmitButton"
        ></ng-container>
    </div>
  </ng-container>

</form>

<ng-template #activeSubmitButton>
  <app-button [type]="submitButtonType" (click)="onSubmit()">
    Submit
  </app-button>
</ng-template>

<ng-template #inactiveSubmitButton>
  <app-button 
    placement="top" 
    [type]="'DARK'" 
    [ngbTooltip]="'The form is not yet correctly filled out!'"
    [tooltipClass]="'my-tooltip'"
  >
    <app-icon [icon]="'lock'" class="me-2"></app-icon>
    <span class="strikethrough">Submit *</span>
  </app-button>
</ng-template>