::ng-deep .tooltip-inner {
  width: 400px;
  background-color: #d6eaf8;
  border-color: #c6e2f5;
  color: black;
}

.my-tooltip{
	.tooltip-inner{
		background-color: lightblue;
		color: black;
	}

 .tooltip-arrow::before {
		border-right-color: lightblue;
	}
	.bs-tooltip-start .tooltip-arrow::before {
		border-left-color: lightblue;
	}
	.bs-tooltip-top .tooltip-arrow::before {
		border-top-color: lightblue;
	}
	.bs-tooltip-bottom .tooltip-arrow::before {
		border-bottom-color: lightblue;
	}
}