<article class="container quest">
  <ng-container *ngIf="canUpdate">
    <div class="quest__edit-container">
      <a [routerLink]="updateUrl">
        <app-button
          [icon]="'pencil'"
          [type]="'SECONDARY'"
        ></app-button>
      </a>
    </div>
  </ng-container>

  <!-- Heading -->
  <div class="row">
    <h1 class="col-12 quest__heading"> 
      {{ quest.name }} 
    </h1>
  </div>

  <div class="row quest__data-row"> 
      <!-- Quest Status -->
      <span class="col-5">Status:</span>
      <span class="col-7">{{ quest.status }}</span>     

      <!-- Quest Start -->
      <div class="col-5">Start - End:</div>
      <div class="col-7">
          {{ quest.start_session_details?.name }} - 
          <ng-container *ngIf="quest.end_session_details; else Ongoing"> 
              {{ quest.end_session_details.name }} 
          </ng-container>
      </div>
      
      <!-- Quest Giver -->
      <span class="col-5">Quest Giver:</span>
      <span class="col-7">
          <ng-container *ngIf="quest.giver_details; else NoQuestGiver">
              <a [routerLink]="questGiverUrl">
                  {{ quest.giver_details.name }}
              </a>
          </ng-container>
      </span>
  </div>

  <!-- Description -->
  <div class="quest__description">
    <h4> Description </h4>
    <app-html-text
      [text]="quest.description"
    ></app-html-text>
  </div>

  <!-- Footer (Move to other Article + Delete Article) -->
  <app-article-footer
    [buttonLink]="overviewUrl"
    [buttonLabel]="'Back to Quest Overview'"
    [showDelete]="canDelete"
    [deleteMessage]="'Delete Quest?'"
    (delete)="questDelete.emit(quest)"
  ></app-article-footer>
</article>


<ng-template #Ongoing>
  Ongoing
</ng-template>

<ng-template #NoQuestGiver>
  None
</ng-template>
