<h4>
  Locations of Interest 
  
  <ng-container *ngIf="canCreate">
    <a [routerLink]="createUrl">
      <app-button 
        class="create-button" 
        [type]="'PRIMARY'" 
        [size]="'SMALL'"
        [icon]="'plus'"
      ></app-button>
    </a>
  </ng-container>
</h4>

<ngb-accordion [closeOthers]="true">
  <ngb-panel [id]="'static-'+i" *ngFor="let entry of accordionEntries; let i = index">
      <!-- Header -->
      <ng-template ngbPanelTitle class="button-container">
          <strong>
              <a class="location-title" [routerLink]="entry.link"> 
                  {{ entry.value.name }} 
              </a>
          </strong>
      </ng-template>

      <!-- Body -->
      <ng-template ngbPanelContent>
          <app-location
            [location]="entry.value"
          ></app-location>
      </ng-template>

  </ngb-panel>
</ngb-accordion>
