<nav class="navbar bg-dark">
  <div class="container-fluid">
    @if (canShowSidebar()) {
      <button
        btn
        class="navbar-toggler"
        type="button"
        data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasNavbar"
        aria-controls="sidebar"
        aria-label="Toggle navigation"
        (click)="openSidebar.emit()"
      >
        <app-icon [icon]="'bars'" />
      </button>
    }
    <a class="navbar-brand" [routerLink]="titleUrl()">
      <strong>
        <img
          class="navbar-brand-icon"
          [src]="serverUrl + currentCampaignIconUrl()"
          alt="To Home Page"
        />
        {{ title() }}
      </strong>
    </a>
  </div>
</nav>
