<app-page-container>
  <article class="container search">
    <!-- Heading -->
    <div class="row search__heading">
      <h1 class="col-12">Search Results</h1>
    </div>
  
    <app-sidebar-legend
      [interactable]="true"
      (sidebarChange)="onCategorySelect($event)"
    ></app-sidebar-legend>
    
    <!-- Article List -->
    <div class="row search__results">
      <ng-container *ngIf="foundArticles.length > 0 else noSearchResults">
        <ng-container *ngFor="let article of filteredArticles">
          <app-search-hit [article]="article"></app-search-hit>
        </ng-container>
      </ng-container>
    </div>
  
    <!-- Footer -->
    <div class="row">
      <a [routerLink]="homeUrl" class="search__home">
        <app-button
          [type]="'SECONDARY'"
          [text]="'Back To Frontpage'"
        ></app-button>
      </a>
    </div>
  </article>
</app-page-container>

<ng-template #noSearchResults>
  <div class="search__empty-results">
      <h4>We couldn't find any hits for '{{ searchString }}'</h4>
      <i> {{ emptySearchSubtitle }}</i>
  </div>
</ng-template>